menu "Real-time SPI master drivers"

config XENO_DRIVERS_SPI
       depends on SPI
       tristate

config XENO_DRIVERS_SPI_BCM2835
	depends on ARCH_BCM2708 || ARCH_BCM2835
	select XENO_DRIVERS_SPI
	tristate "Support for BCM2835 SPI"
	help

	Enables support for the SPI0 controller available from
	Broadcom's BCM2835 SoC.

config XENO_DRIVERS_SPI_SUN6I
	depends on MACH_SUN6I || MACH_SUN8I
	select XENO_DRIVERS_SPI
	tristate "Support for A31/H3 SoC SPI"
	help

	Enables support for the SPI controller available from
	Allwinner's A31, H3 SoCs.

config XENO_DRIVERS_SPI_OMAP2_MCSPI_RT
	tristate "McSPI rt-driver for OMAP"
	depends on HAS_DMA
	depends on ARCH_OMAP2PLUS || COMPILE_TEST
	select XENO_DRIVERS_SPI
	help

	SPI real-time master controller for OMAP24XX and later Multichannel SPI
	(McSPI) modules.

config XENO_DRIVERS_SPI_DEBUG
       depends on XENO_DRIVERS_SPI
       bool "Enable SPI core debugging features"
       
endmenu
