menu "Synchronous Serial Interfaces (SSI)"

config OMAP_UWIRE
	depends on ARCH_OMAP1
	tristate "MicroWire support on OMAP"
	---help---
	  Say Y here if you want support for the MicroWire interface
	  on an OMAP processor.

config OMAP_TSC2101
	depends on ARCH_OMAP1 || ARCH_OMAP24XX
	tristate "TSC2101 codec support for Touchscreen and audio"
	select OMAP_UWIRE if MACH_OMAP_H3 || MACH_OMAP_H2
	select GPIOEXPANDER_OMAP if MACH_OMAP_H3
	---help---
	  Say Y here if you want support for the TSC2101 codec.  It is
	  needed for touchscreen and audio on OMAP1610 and 1710.
endmenu
