// SPDX-License-Identifier: GPL-2.0-only
/*
 * Copyright (C) 2012 Texas Instruments Incorporated - https://www.ti.com/
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/pinctrl/am33xx.h>

/*
 * Helper to show loaded overlays under: /proc/device-tree/chosen/overlays/
 */
&{/chosen} {
	overlays {
		BB-BONE-4D5R-01-00A1.kernel = __TIMESTAMP__;
	};
};

/*
 * Free up the pins used by the cape from the pinmux helpers.
 */
&ocp {
	P8_45_pinmux { status = "disabled"; };	/* lcd: lcd_data0 */
	P8_46_pinmux { status = "disabled"; };	/* lcd: lcd_data1 */
	P8_43_pinmux { status = "disabled"; };	/* lcd: lcd_data2 */
	P8_44_pinmux { status = "disabled"; };	/* lcd: lcd_data3 */
	P8_41_pinmux { status = "disabled"; };	/* lcd: lcd_data4 */
	P8_42_pinmux { status = "disabled"; };	/* lcd: lcd_data5 */
	P8_39_pinmux { status = "disabled"; };	/* lcd: lcd_data6 */
	P8_40_pinmux { status = "disabled"; };	/* lcd: lcd_data7 */
	P8_37_pinmux { status = "disabled"; };	/* lcd: lcd_data8 */
	P8_38_pinmux { status = "disabled"; };	/* lcd: lcd_data9 */
	P8_36_pinmux { status = "disabled"; };	/* lcd: lcd_data10 */
	P8_34_pinmux { status = "disabled"; };	/* lcd: lcd_data11 */
	P8_35_pinmux { status = "disabled"; };	/* lcd: lcd_data12 */
	P8_33_pinmux { status = "disabled"; };	/* lcd: lcd_data13 */
	P8_31_pinmux { status = "disabled"; };	/* lcd: lcd_data14 */
	P8_32_pinmux { status = "disabled"; };	/* lcd: lcd_data15 */

	P8_27_pinmux { status = "disabled"; };	/* lcd: lcd_vsync */
	P8_29_pinmux { status = "disabled"; };	/* lcd: lcd_hsync */
	P8_28_pinmux { status = "disabled"; };	/* lcd: lcd_pclk */
	P8_30_pinmux { status = "disabled"; };	/* lcd: lcd_ac_bias_en */

	P9_27_pinmux { status = "disabled"; };	/* lcd: gpio3_19 DISPEN */

	P9_14_pinmux { status = "disabled"; };	/* pwm: ehrpwm1a PWM_BL */

	P9_18_pinmux { status = "disabled"; };	/* i2c1_sda */
	P9_17_pinmux { status = "disabled"; };	/* i2c1_scl */
	P9_26_pinmux { status = "disabled"; };	/* touch interrupt on gpio0_14 */
};

&am33xx_pinmux {
	bb_lcd_pwm_backlight_pins: pinmux_bb_lcd_pwm_backlight_pins {
		pinctrl-single,pins = <
			AM33XX_PADCONF(AM335X_PIN_GPMC_A2, PIN_OUTPUT, MUX_MODE6) /* gpmc_a2.ehrpwm1a, OMAP_MUX_MODE6 | AM33XX_PIN_OUTPUT */
		>;
	};

	bb_lcd_lcd_pins: pinmux_bb_lcd_lcd_pins {
		pinctrl-single,pins = <
			/*LCD enable */
			AM33XX_PADCONF(AM335X_PIN_MCASP0_FSR, PIN_OUTPUT, MUX_MODE7) /* mcasp0_fsr.gpio3_19, OUTPUT | MODE7  LCD DISEN */

			AM33XX_PADCONF(AM335X_PIN_LCD_DATA0, PIN_OUTPUT, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_LCD_DATA1, PIN_OUTPUT, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_LCD_DATA2, PIN_OUTPUT, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_LCD_DATA3, PIN_OUTPUT, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_LCD_DATA4, PIN_OUTPUT, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_LCD_DATA5, PIN_OUTPUT, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_LCD_DATA6, PIN_OUTPUT, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_LCD_DATA7, PIN_OUTPUT, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_LCD_DATA8, PIN_OUTPUT, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_LCD_DATA9, PIN_OUTPUT, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_LCD_DATA10, PIN_OUTPUT, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_LCD_DATA11, PIN_OUTPUT, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_LCD_DATA12, PIN_OUTPUT, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_LCD_DATA13, PIN_OUTPUT, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_LCD_DATA14, PIN_OUTPUT, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_LCD_DATA15, PIN_OUTPUT, MUX_MODE0)

			AM33XX_PADCONF(AM335X_PIN_LCD_VSYNC, PIN_OUTPUT, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_LCD_HSYNC, PIN_OUTPUT, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_LCD_PCLK, PIN_OUTPUT, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_LCD_AC_BIAS_EN, PIN_OUTPUT, MUX_MODE0)
		>;
	};

	bb_i2c1_pins: pinmux_bb_i2c1_pins {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x958, PIN_INPUT_PULLUP | SLEWCTRL_SLOW | MUX_MODE2) /* spi0_d1.i2c1_sda */
			AM33XX_IOPAD(0x95C, PIN_INPUT_PULLUP | SLEWCTRL_SLOW | MUX_MODE2) /* spi0_cs0.i2c1_scl */
		>;
	};

	ar1021_pins: pinmux_ar1021_pins {
		pinctrl-single,pins = <
			AM33XX_PADCONF(AM335X_PIN_UART1_RXD, PIN_INPUT, MUX_MODE7)
		>;
	};
};

&epwmss1 {
	status = "okay";
};

&ehrpwm1 {
	pinctrl-names = "default";
	pinctrl-0 = <&bb_lcd_pwm_backlight_pins>;
	status = "okay";
};

&lcdc {
	status = "okay";

	blue-and-red-wiring = "straight";

	//FIXME - LCD doesn't init...
	//port {
	//	lcdc_0: endpoint@0 {
	//		remote-endpoint = <&panel_0>;
	//	};
	//};
};

&i2c1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&bb_i2c1_pins>;

	clock-frequency = <100000>;

	#address-cells = <1>;
	#size-cells = <0>;

	ar1021: ar1021@4d {
		status = "okay";
		compatible = "microchip,ar1021-i2c";
		reg = <0x4d>;
		pinctrl-names = "default";
		pinctrl-0 = <&ar1021_pins>;
		interrupt-parent = <&gpio0>;
		interrupts = <14 IRQ_TYPE_LEVEL_HIGH>;

		touchscreen-offset-x=<250>;
		touchscreen-offset-y=<300>;

		touchscreen-inverted-y;
	};
};

&{/} {
	backlight: backlight {
		status = "okay";
		compatible = "pwm-backlight";
		pwms = <&ehrpwm1 0 500000 0>;
		brightness-levels = <
			0  1  2  3  4  5  6  7  8  9
			10 11 12 13 14 15 16 17 18 19
			20 21 22 23 24 25 26 27 28 29
			30 31 32 33 34 35 36 37 38 39
			40 41 42 43 44 45 46 47 48 49
			50 51 52 53 54 55 56 57 58 59
			60 61 62 63 64 65 66 67 68 69
			70 71 72 73 74 75 76 77 78 79
			80 81 82 83 84 85 86 87 88 89
			90 91 92 93 94 95 96 97 98 99
			100
		>;
		default-brightness-level = <100>;
	};

	panel {
		status = "okay";
		compatible = "ti,tilcdc,panel";
		pinctrl-names = "default";
		pinctrl-0 = <&bb_lcd_lcd_pins>;
		backlight = <&backlight>;
		enable-gpios = <&gpio3 19 0>;

		//FIXME - LCD doesn't init...
		//port {
		//	panel_0: endpoint@0 {
		//		remote-endpoint = <&lcdc_0>;
		//	};
		//};

		panel-info {
			ac-bias           = <255>;
			ac-bias-intrpt    = <0>;
			dma-burst-sz      = <16>;
			bpp               = <16>;
			fdd               = <0x80>;
			sync-edge         = <0>;
			sync-ctrl         = <1>;
			raster-order      = <0>;
			fifo-th           = <0>;
		};

		display-timings {
			native-mode = <&timing0>;
			/* Settings for ThreeFive S9700RTWV35TR / LCD7 cape: */
			timing0: 800x480 {
				clock-frequency = <30000000>;
				hactive = <800>;
				vactive = <480>;
				hfront-porch = <40>;
				hback-porch = <40>;
				hsync-len = <48>;
				vback-porch = <30>;
				vfront-porch = <13>;
				vsync-len = <3>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <1>;
				pixelclk-active = <0>;
			};
		};
	};
};
