# SPDX-License-Identifier: GPL-2.0-only
config DRM_OMAP
	tristate "OMAP DRM"
	depends on DRM
	depends on ARCH_OMAP2PLUS || ARCH_MULTIPLATFORM
	select OMAP2_DSS
	select DRM_KMS_HELPER
	default n
	help
	  DRM display driver for OMAP2/3/4 based boards.

if DRM_OMAP

config DRM_OMAP_WB
	bool "Enable writeback support for OMAP DRM driver"
	depends on DRM_OMAP
	depends on (VIDEO_V4L2 = y) || (VIDEO_V4L2 = m && DRM_OMAP = m)
	depends on VIDEO_DEV && HAS_DMA
	select VIDEOBUF2_DMA_CONTIG
	select V4L2_MEM2MEM_DEV
	default n
	help
	  Select this to enable memory-to-memory/capture writeback support.

source "drivers/gpu/drm/omapdrm/dss/Kconfig"
source "drivers/gpu/drm/omapdrm/displays/Kconfig"

endif
