# SPDX-License-Identifier: GPL-2.0-only

comment "IMG media platform drivers"

config VIDEO_IMG_VXD_DEC
  tristate "IMG VXD DEC (Video Decoder) driver"
	depends on V4L_MEM2MEM_DRIVERS
  depends on VIDEO_DEV
  depends on ARCH_K3 || COMPILE_TEST
  depends on V4L_PLATFORM_DRIVERS
  select VIDEOBUF2_CORE
  select VIDEOBUF2_DMA_CONTIG
  select VIDEOBUF2_DMA_SG
  select V4L2_MEM2MEM_DEV
  help
    This is an IMG VXD DEC V4L2 driver that adds support for the
    Imagination D5520 (Video Decoder) hardware as used on the Texas
    Instruments Jacinto and Sitara devices.
    The module name when built is vxd-dec.

config VIDEO_IMG_VXE_ENC
  tristate "IMG VXE ENC (Video Encoder) driver"
	depends on V4L_MEM2MEM_DRIVERS
  depends on VIDEO_DEV
  depends on ARCH_K3 || COMPILE_TEST
  depends on V4L_PLATFORM_DRIVERS
  select VIDEOBUF2_CORE
  select VIDEOBUF2_DMA_CONTIG
  select VIDEOBUF2_DMA_SG
  select V4L2_MEM2MEM_DEV
  help
    This is an IMG VXE ENC V4L2 driver that adds support for the
    Imagination VXE384 (Video Encoder) hardware as used on the Texas
    Instruments Jacinto and Sitara devices.
    The module name when built is vxe-enc.

source "drivers/media/platform/imagination/e5010/Kconfig"

