// SPDX-License-Identifier: GPL-2.0
/**
 * DT Overlay for OV5640 Camera module on MIPI CSI connector for AM69 SK board.
 *
 * Copyright (C) 2023 Texas Instruments Incorporated - https://www.ti.com/
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include "k3-pinctrl.h"

&wkup_pmx2 {
	csi2_exp_refclk_pins_default: csi2-exp-refclk-pins-default {
		pinctrl-single,pins = <
			J784S4_IOPAD(0x084, PIN_OUTPUT, 6) /* (M38) WKUP_GPIO0_11.MCU_CLKOUT0 */
		>;
	};
};

&k3_clks {
	pinctrl-names = "default";
	pinctrl-0 = <&csi2_exp_refclk_pins_default>;
};

&exp2 {
	p01-hog{
		/* P01 - CSI_MUX_SEL_2 */
		gpio-hog;
		gpios = <1 GPIO_ACTIVE_LOW>;
		output-high;
		line-name = "CSI_MUX_SEL_2";
	};
};

&pca9543 {
	#address-cells = <1>;
	#size-cells = <0>;

	i2c-alias-pool = /bits/ 16 <0x3c 0x3d>;

	/* CAM0 I2C */
	i2c@0 {
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0>;

		camera@3c {
			compatible = "ovti,ov5640";
			reg = <0x3c>;

			/* MCU_CLKOUT0 WKUP_GPIO0_11 (M38) */
			clocks = <&k3_clks 157 174>;
			clock-names = "xclk";
			powerdown-gpios = <&exp2 2 GPIO_ACTIVE_LOW>;

			/* HSDIV4_16FFT_MCU_2_HSDIVOUT0_CLK10 -> REFCLK2 */
			assigned-clocks = <&k3_clks 157 174>;
			assigned-clock-parents = <&k3_clks 157 176>;
			assigned-clock-rates = <25000000>;

			port {
				csi2_cam0: endpoint {
					remote-endpoint = <&csi2rx0_in_sensor>;
					clock-lanes = <0>;
					data-lanes = <1 2>;
				};
			};
		};
	};

	/* CAM1 I2C */
	i2c@1 {
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <1>;

		camera@3c {
			compatible = "ovti,ov5640";
			reg = <0x3c>;

			/* MCU_CLKOUT0 WKUP_GPIO0_11 (M38) */
			clocks = <&k3_clks 157 174>;
			clock-names = "xclk";
			powerdown-gpios = <&exp2 2 GPIO_ACTIVE_LOW>;

			/* HSDIV4_16FFT_MCU_2_HSDIVOUT0_CLK10 -> REFCLK2 */
			assigned-clocks = <&k3_clks 157 174>;
			assigned-clock-parents = <&k3_clks 157 176>;
			assigned-clock-rates = <25000000>;

			port {
				csi2_cam1: endpoint {
					remote-endpoint = <&csi2rx2_in_sensor>;
					clock-lanes = <0>;
					data-lanes = <1 2>;
				};
			};
		};
	};
};

&csi0_port0 {
	status = "okay";

	csi2rx0_in_sensor: endpoint {
		remote-endpoint = <&csi2_cam0>;
		bus-type = <4>; /* CSI2 DPHY. */
		clock-lanes = <0>;
		data-lanes = <1 2>;
	};
};

&csi2_port0 {
	status = "okay";

	csi2rx2_in_sensor: endpoint {
		remote-endpoint = <&csi2_cam1>;
		bus-type = <4>; /* CSI2 DPHY. */
		clock-lanes = <0>;
		data-lanes = <1 2>;
	};
};

&ti_csi2rx0 {
        status = "okay";
};

&ti_csi2rx2 {
        status = "okay";
};

&dphy_rx0 {
        status = "okay";
};

&dphy_rx2 {
        status = "okay";
};
