// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (C) 2023 Texas Instruments Incorporated - https://www.ti.com/
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/pinctrl/k3.h>

/ {
	fragment@101 {
		target-path = "/";

		__overlay__ {
			clk_fusion_25M_fixed: fixed-clock-25M {
				compatible = "fixed-clock";
				#clock-cells = <0>;
				clock-frequency = <25000000>;
			};
		};
	};
};

&main_pmx0 {
	main_i2c1_pins_default: main-i2c1-pins-default {
		pinctrl-single,pins = <
			J721S2_IOPAD(0x0ac, PIN_INPUT, 13) /* (AC25) MCASP0_AXR15.I2C1_SCL */
			J721S2_IOPAD(0x0b0, PIN_INPUT, 13) /* (AD26) MCASP1_AXR3.I2C1_SDA */
		>;
	};
};

&main_i2c1 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&main_i2c1_pins_default>;
	clock-frequency = <400000>;

	i2c-switch@70 {
		compatible = "nxp,pca9543";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x70>;

		cam0_i2c: i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;

			ds90ub960_0: deser@3d {
				compatible = "ti,ds90ub960-q1";

				reg-names = "main", "ser0", "ser1", "ser2", "ser3";
				reg       = <0x3d>, <0x44>, <0x45>, <0x46>, <0x47>;

				clocks = <&clk_fusion_25M_fixed>;

				i2c-alias-pool = /bits/ 16 <0x4a 0x4b 0x4c 0x4d 0x4e 0x4f>;

				data-rate = <1600000000>;

				#clock-cells = <0>;

				ds90ub960_0_ports: ports {
					#address-cells = <1>;
					#size-cells = <0>;

					/* CSI-2 */
					port@4 {
						reg = <4>;
						ds90ub960_0_csi_out: endpoint {
							clock-lanes = <0>;
							data-lanes = <1 2 3 4>;
							remote-endpoint = <&csi2_phy0>;
						};
					};
				};

				ds90ub960_0_atr: i2c-atr {
					#address-cells = <1>;
					#size-cells = <0>;
				};
			};

			ds90ub960_1: deser@36 {
				compatible = "ti,ds90ub960-q1";

				reg-names = "main", "ser0", "ser1", "ser2", "ser3";
				reg       = <0x36>, <0x54>, <0x55>, <0x56>, <0x57>;

				clocks = <&clk_fusion_25M_fixed>;

				i2c-alias-pool = /bits/ 16 <0x5a 0x5b 0x5c 0x5d 0x5e 0x5f>;

				data-rate = <1600000000>;

				#clock-cells = <0>;

				ds90ub960_1_ports: ports {
					#address-cells = <1>;
					#size-cells = <0>;

					/* CSI-2 */
					port@4 {
						reg = <4>;
						ds90ub960_1_csi_out: endpoint {
							clock-lanes = <0>;
							data-lanes = <1 2 3 4>;
							remote-endpoint = <&csi2_phy1>;
						};
					};
				};

				ds90ub960_1_atr: i2c-atr {
					#address-cells = <1>;
					#size-cells = <0>;
				};
			};
		};
	};
};

&csi0_port0 {
	status = "okay";

	csi2_phy0: endpoint {
		remote-endpoint = <&ds90ub960_0_csi_out>;
		clock-lanes = <0>;
		data-lanes = <1 2 3 4>;
	};
};

&csi1_port0 {
	status = "okay";

	csi2_phy1: endpoint {
		remote-endpoint = <&ds90ub960_1_csi_out>;
		clock-lanes = <0>;
		data-lanes = <1 2 3 4>;
	};
};
