// SPDX-License-Identifier: GPL-2.0-only or MIT
/*
 * Device Tree file for the AM62L main domain peripherals
 * Copyright (C) 2024 Texas Instruments Incorporated - https://www.ti.com/
 *
 * Technical Reference Manual: https://www.ti.com/lit/pdf/sprujb4
 */

&cbass_main {
	gic500: interrupt-controller@1800000 {
		compatible = "arm,gic-v3";
		reg = <0x00 0x01800000 0x00 0x10000>,	/* GICD */
		      <0x00 0x01840000 0x00 0xc0000>,	/* GICR */
		      <0x01 0x00000000 0x00 0x2000>,    /* GICC */
		      <0x01 0x00010000 0x00 0x1000>,    /* GICH */
		      <0x01 0x00020000 0x00 0x2000>;    /* GICV */
		ranges;
		#address-cells = <2>;
		#size-cells = <2>;
		#interrupt-cells = <3>;
		interrupt-controller;
		/*
		 * vcpumntirq:
		 * virtual CPU interface maintenance interrupt
		 */
		interrupts = <GIC_PPI 9 IRQ_TYPE_LEVEL_HIGH>;

		gic_its: msi-controller@1820000 {
			compatible = "arm,gic-v3-its";
			reg = <0x00 0x01820000 0x00 0x10000>;
			socionext,synquacer-pre-its = <0x1000000 0x400000>;
			msi-controller;
			#msi-cells = <1>;
		};
	};

	main_uart0: serial@2800000 {
		compatible = "ti,am64-uart", "ti,am654-uart";
		reg = <0x00 0x02800000 0x00 0x100>;
		interrupts = <GIC_SPI 96 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&scmi_pds 89>;
		clocks = <&scmi_clk 358>;
		clock-names = "fclk";
		status = "disabled";
	};

	main_i2c0: i2c@20000000 {
		compatible = "ti,am64-i2c", "ti,omap4-i2c";
		reg = <0x00 0x20000000 0x00 0x100>;
		interrupts = <GIC_SPI 64 IRQ_TYPE_LEVEL_HIGH>;
		#address-cells = <1>;
		#size-cells = <0>;
		power-domains = <&scmi_pds 53>;
		clocks = <&scmi_clk 246>;
		clock-names = "fck";
		status = "disabled";
	};

	main_i2c1: i2c@20010000 {
		compatible = "ti,am64-i2c", "ti,omap4-i2c";
		reg = <0x00 0x20010000 0x00 0x100>;
		interrupts = <GIC_SPI 65 IRQ_TYPE_LEVEL_HIGH>;
		#address-cells = <1>;
		#size-cells = <0>;
		power-domains = <&scmi_pds 54>;
		clocks = <&scmi_clk 250>;
		clock-names = "fck";
		status = "disabled";
	};

	main_gpio0: gpio@600000 {
		compatible = "ti,am64-gpio", "ti,keystone-gpio";
		reg = <0x00 0x00600000 0x00 0x100>;
		gpio-controller;
		#gpio-cells = <2>;
		interrupt-parent = <&gic500>;
		interrupts = <GIC_SPI 260 IRQ_TYPE_EDGE_RISING>, <GIC_SPI 261 IRQ_TYPE_EDGE_RISING>,
			     <GIC_SPI 262 IRQ_TYPE_EDGE_RISING>, <GIC_SPI 263 IRQ_TYPE_EDGE_RISING>,
			     <GIC_SPI 264 IRQ_TYPE_EDGE_RISING>, <GIC_SPI 265 IRQ_TYPE_EDGE_RISING>,
			     <GIC_SPI 266 IRQ_TYPE_EDGE_RISING>, <GIC_SPI 267 IRQ_TYPE_EDGE_RISING>;
		interrupt-controller;
		#interrupt-cells = <2>;
		ti,ngpio = <126>;
		ti,davinci-gpio-unbanked = <0>;
		power-domains = <&scmi_pds 34>;
		clocks = <&scmi_clk 140>;
		clock-names = "gpio";
		status = "disabled";
	};

	sdhci1: mmc@fa00000 {
		compatible = "ti,am62-sdhci";
		reg = <0x00 0x0fa00000 0x00 0x1000>,
		      <0x00 0x0fa08000 0x00 0x400>;
		interrupts = <GIC_SPI 237 IRQ_TYPE_LEVEL_HIGH>;
		power-domains = <&scmi_pds 26>;
		clocks = <&scmi_clk 106>, <&scmi_clk 107>;
		clock-names = "clk_ahb", "clk_xin";
		assigned-clocks = <&scmi_clk 107>;
		assigned-clock-parents = <&scmi_clk 0>;
		bus-width = <4>;
		ti,clkbuf-sel = <0x7>;
		ti,otap-del-sel-legacy = <0x0>;
		ti,itap-del-sel-legacy = <0x0>;
		status = "disabled";
	};

	oc_sram: sram@70800000 {
		compatible = "mmio-sram";
		reg = <0x00 0x70800000 0x00 0x10000>;
		ranges = <0x0 0x00 0x70800000 0x10000>;
		#address-cells = <1>;
		#size-cells = <1>;

		scmi_shmem: sram@0 {
			compatible = "arm,scmi-shmem";
			reg = <0x0 0x100>;
			bootph-all;
		};
	};

	dss: dss@30200000 {
		compatible = "ti,am62l-dss";
		reg = <0x00 0x30200000 0x00 0x1000>, /* common */
		      <0x00 0x30202000 0x00 0x1000>, /* vidl1 */
		      <0x00 0x30207000 0x00 0x1000>, /* ovr1 */
		      <0x00 0x3020a000 0x00 0x1000>, /* vp1 */
		      <0x00 0x30201000 0x00 0x1000>; /* common1 */
		reg-names = "common", "vidl1", "ovr1", "vp1", "common1";
		power-domains = <&scmi_pds 39>;
		clocks = <&scmi_clk 162>,
			 <&scmi_clk 159>;
		clock-names = "fck", "vp1";
		interrupts = <GIC_SPI 60 IRQ_TYPE_LEVEL_HIGH>;
		status = "disabled";

		dss_ports: ports {
			#address-cells = <1>;
			#size-cells = <0>;
		};
	};

	dphy_tx0: phy@301c0000 {
		compatible = "ti,j721e-dphy";
		reg = <0x0 0x301c0000 0x0 0x1000>;
		clocks = <&scmi_clk 348>, <&scmi_clk 341>;
		clock-names = "psm", "pll_ref";
		#phy-cells = <0>;
		power-domains = <&scmi_pds 86>;
		assigned-clocks = <&scmi_clk 341>;
		assigned-clock-parents = <&scmi_clk 0>;
		assigned-clock-rates = <25000000>;
		status = "disabled";
	};

	dsi0: dsi@30500000 {
		compatible = "ti,j721e-dsi";
		reg = <0x0 0x30500000 0x0 0x100000>, <0x0 0x30270000 0x0 0x100>;
		clocks = <&scmi_clk 155>, <&scmi_clk 158>;
		clock-names = "dsi_p_clk", "dsi_sys_clk";
		power-domains = <&scmi_pds 38>;
		interrupt-parent = <&gic500>;
		interrupts = <GIC_SPI 57 IRQ_TYPE_LEVEL_HIGH>;
		phys = <&dphy_tx0>;
		phy-names = "dphy";
		status = "disabled";
	};
};
