// SPDX-License-Identifier: GPL-2.0
/*
 * AM625 SK LPM dts file
 * This file is intended to be a configuration for the AM625 SK board which
 * has just the peripherals that have been tested to work with low power mode.
 * We inherit from the regular AM625 SK dts file and explicitly override the
 * nodes for peripherals that are not currently tested. Eventually, this
 * should converge to the regular dts file and this file can then be removed.
 *
 * Copyright (C) 2021-2022 Texas Instruments Incorporated - https://www.ti.com/
 */

#include "k3-am625-sk.dts"

/ {
	leds {
		led-0 {
			/* This property is off in sk-common, default in lpmdemo */
			/delete-property/ default-state;
		};
	};

	firmware {
		optee {
			status = "disabled";
		};
	};
};

&crypto {
	status = "disabled";
};

&main_uart0 {
	/delete-property/ power-domains;
	/delete-property/ clock-names;
	/delete-property/ clocks;
};

&cbass_mcu {
	status = "disabled";
};
