// SPDX-License-Identifier: GPL-2.0
/*
 * DT Overlay for Arducam V3Link UC-A09 board
 * https://www.arducam.com/fpd-link-3-cameras/
 *
 * Copyright (C) 2024 Texas Instruments Incorporated - http://www.ti.com/
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>

&{/} {
	clk_fusion_25M_fixed: fixed-clock-25M {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <25000000>;
	};
};

&main_i2c2 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	i2c-switch@71 {
		compatible = "nxp,pca9543";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x71>;

		i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;

			deser@30 {
				compatible = "ti,ds90ub960-q1";
				reg = <0x30>;

				clock-names = "refclk";
				clocks = <&clk_fusion_25M_fixed>;

				i2c-alias-pool = <0x4a 0x4b 0x4c 0x4d 0x4e 0x4f>;

				ds90ub960_0_ports: ports {
					#address-cells = <1>;
					#size-cells = <0>;

					/* CSI-2 TX */
					port@4 {
						reg = <4>;
						ds90ub960_0_csi_out: endpoint {
							data-lanes = <1 2 3 4>;
							clock-lanes = <0>;
							link-frequencies = /bits/ 64 <800000000>;
							remote-endpoint = <&csi2_phy0>;
						};
					};
				};

				ds90ub960_0_links: links {
					#address-cells = <1>;
					#size-cells = <0>;
				};
			};
		};
	};
};

&csi0_port0 {
	status = "okay";

	csi2_phy0: endpoint {
		remote-endpoint = <&ds90ub960_0_csi_out>;
		data-lanes = <1 2 3 4>;
		clock-lanes = <0>;
		link-frequencies = /bits/ 64 <800000000>;
	};
};
