// SPDX-License-Identifier: GPL-2.0
/*
 * DT Overlay for I2C1 at 400000 within the expansion header.
 *
 * Copyright (C) 2023 Texas Instruments Incorporated - https://www.ti.com/
 *
 */

/dts-v1/;
/plugin/;

/*
 * Helper to show loaded overlays under: /proc/device-tree/chosen/overlays/
 */
&{/chosen} {
	overlays {
		k3-am67a-beagley-ai-i2c1-400000.kernel = __TIMESTAMP__;
	};
};

&mcu_i2c0 {
	clock-frequency = <400000>;
};
