// SPDX-License-Identifier: GPL-2.0
/*
 * AM625 SK LPM dts file
 * This file is intended to be a configuration for the AM625 SK board which
 * has just the peripherals that have been tested to work with low power mode.
 * We inherit from the regular AM625 SK dts file and explicitly override the
 * nodes for peripherals that are not currently tested. Eventually, this
 * should converge to the regular dts file and this file can then be removed.
 *
 * Copyright (C) 2021-2022 Texas Instruments Incorporated - https://www.ti.com/
 */

#include "k3-am625-sk.dts"

/ {
	leds {
		led-0 {
			/* This property is off in sk-common, default in lpmdemo */
			/delete-property/ default-state;
		};
	};

	firmware {
		optee {
			status = "disabled";
		};
	};
};

&dmsc {
	ti,ctx-memory-region = <&lpm_ctx_ddr>;
};

&crypto {
	status = "disabled";
};

&main_uart0 {
	/delete-property/ power-domains;
	/delete-property/ clock-names;
	/delete-property/ clocks;
};

&main_spi0 {
	status = "disabled";
};

&main_spi1 {
	status = "disabled";
};

&main_spi2 {
	status = "disabled";
};

&sdhci2 {
	status = "disabled";
};

&gpu {
	status = "disabled";
};

/*
 * FIXME: Check explicitly if this is still needed.
 * Regular SK dts does not have this, while the
 * LPMDEMO seems to be adding it for some reason
 */
&usbss1 {
	ti,vbus-divider;
};

&dss {
	status = "disabled";
};

&ti_csi2rx0 {
	status = "disabled";
};

&dphy0 {
	status = "disabled";
};

&main_rti0 {
	status = "disabled";
};

&main_rti1 {
	status = "disabled";
};

&main_rti2 {
	status = "disabled";
};

&main_rti3 {
	status = "disabled";
};

&main_rti15 {
	status = "disabled";
};

&mcasp1 {
	status = "disabled";
};

&cbass_mcu {
	status = "disabled";
};


/* regulator-5 */
&wlan_lten {
	status = "disabled";
};

/* regulator-6 */
&wlan_en {
	status = "disabled";
};
/* regulator-7 */
&vcc_1v8 {
	status = "disabled";
};

&tlv320_mclk {
	status = "disabled";
};

&codec_audio {
	status = "disabled";
};

&hdmi_mstrclk {
	status = "disabled";
};

&hdmi {
	status = "disabled";
};

&sii9022 {
	status = "disabled";
};

&tlv320aic3106 {
	status = "disabled";
};
