// SPDX-License-Identifier: GPL-2.0
/*
 * DT overlay for IDK application board on AM654 EVM SR1.0
 *
 * Copyright (C) 2021 Texas Instruments Incorporated - https://www.ti.com/
 */

#include "k3-am654-idk.dts"
