// SPDX-License-Identifier: GPL-2.0
/**
 * DT overlay for IDK application board on AM654 EVM
 *
 * Copyright (C) 2018 Texas Instruments Incorporated - http://www.ti.com/
 */

/dts-v1/;
/plugin/;
#include <dt-bindings/dma/k3-udma.h>
#include <dt-bindings/net/ti-dp83867.h>
#include <dt-bindings/phy/phy.h>
#include <dt-bindings/pinctrl/k3-am6.h>
#include <dt-bindings/gpio/gpio.h>

/ {
   fragment@101 {
	target-path = "/";

	__overlay__ {
		aliases {
			ethernet3 = "/pruss0_eth/ethernet-mii0";
			ethernet4 = "/pruss0_eth/ethernet-mii1";
			ethernet5 = "/pruss1_eth/ethernet-mii0";
			ethernet6 = "/pruss1_eth/ethernet-mii1";
		};

		/* Dual Ethernet application node on PRU-ICSSG0 */
		pruss0_eth: pruss0_eth {
			compatible = "ti,am654-icssg-prueth";
			pinctrl-names = "default";
			pinctrl-0 = <&icssg0_rgmii_pins_default>;
			sram = <&msmc_ram>;
			interrupt-parent = <&main_udmass_inta>;

			prus = <&pru0_0>, <&rtu0_0>, <&pru0_1>, <&rtu0_1>;
			firmware-name = "ti-pruss/am65x-pru0-prueth-fw.elf",
					"ti-pruss/am65x-rtu0-prueth-fw.elf",
					"ti-pruss/am65x-pru1-prueth-fw.elf",
					"ti-pruss/am65x-rtu1-prueth-fw.elf";
			mii-g-rt = <&icssg0_mii_g_rt>;
			dma-coherent;
			dmas = <&main_udmap &pruss0_eth 0 UDMA_DIR_TX>,	/* SLICE 0 */
			       <&main_udmap &pruss0_eth 0 UDMA_DIR_RX>,
			       <&main_udmap &pruss0_eth 4 UDMA_DIR_TX>,	/* SLICE 1 */
			       <&main_udmap &pruss0_eth 1 UDMA_DIR_RX>;
			dma-names = "tx0", "rx0", "tx1", "rx1";

			ti,psil-base = <0x4100>;	/* ICSSG0 PSIL thread start */
			ti,psil-config0 {
				linux,udma-mode = <UDMA_PKT_MODE>;
				ti,psd-size = <0>;
			};

			ti,psil-config1 {
				linux,udma-mode = <UDMA_PKT_MODE>;
				ti,psd-size = <0>;
			};

			ti,psil-config4 {
				linux,udma-mode = <UDMA_PKT_MODE>;
				ti,psd-size = <0>;
			};

			pruss0_emac0: ethernet-mii0 {
				phy-handle = <&pruss0_eth0_phy>;
				phy-mode = "rgmii-id";
				syscon-rgmii-delay = <&scm_conf 0x4100>;
				/* Filled in by bootloader */
				local-mac-address = [00 00 00 00 00 00];
			};

			pruss0_emac1: ethernet-mii1 {
				phy-handle = <&pruss0_eth1_phy>;
				phy-mode = "rgmii-id";
				syscon-rgmii-delay = <&scm_conf 0x4104>;
				/* Filled in by bootloader */
				local-mac-address = [00 00 00 00 00 00];
			};
		};

		/* Dual Ethernet application node on PRU-ICSSG1 */
		pruss1_eth: pruss1_eth {
			compatible = "ti,am654-icssg-prueth";
			pinctrl-names = "default";
			pinctrl-0 = <&icssg1_rgmii_pins_default>;
			sram = <&msmc_ram>;
			interrupt-parent = <&main_udmass_inta>;

			prus = <&pru1_0>, <&rtu1_0>, <&pru1_1>, <&rtu1_1>;
			firmware-name = "ti-pruss/am65x-pru0-prueth-fw.elf",
					"ti-pruss/am65x-rtu0-prueth-fw.elf",
					"ti-pruss/am65x-pru1-prueth-fw.elf",
					"ti-pruss/am65x-rtu1-prueth-fw.elf";
			mii-g-rt = <&icssg1_mii_g_rt>;
			dma-coherent;
			dmas = <&main_udmap &pruss1_eth 0 UDMA_DIR_TX>,	/* SLICE 0 */
			       <&main_udmap &pruss1_eth 0 UDMA_DIR_RX>,
			       <&main_udmap &pruss1_eth 4 UDMA_DIR_TX>,	/* SLICE 1 */
			       <&main_udmap &pruss1_eth 1 UDMA_DIR_RX>;
			dma-names = "tx0", "rx0", "tx1", "rx1";

			ti,psil-base = <0x4200>;	/* ICSSG1 PSIL thread start */
			ti,psil-config0 {
				linux,udma-mode = <UDMA_PKT_MODE>;
				ti,psd-size = <0>;
			};

			ti,psil-config1 {
				linux,udma-mode = <UDMA_PKT_MODE>;
				ti,psd-size = <0>;
			};

			ti,psil-config4 {
				linux,udma-mode = <UDMA_PKT_MODE>;
				ti,psd-size = <0>;
			};

			pruss1_emac0: ethernet-mii0 {
				phy-handle = <&pruss1_eth0_phy>;
				phy-mode = "rgmii-id";
				syscon-rgmii-delay = <&scm_conf 0x4110>;
				/* Filled in by bootloader */
				local-mac-address = [00 00 00 00 00 00];
			};

			pruss1_emac1: ethernet-mii1 {
				phy-handle = <&pruss1_eth1_phy>;
				phy-mode = "rgmii-id";
				/* Filled in by bootloader */
				syscon-rgmii-delay = <&scm_conf 0x4114>;
				local-mac-address = [00 00 00 00 00 00];
			};
		};

		gpio-decoder {
			compatible = "gpio-decoder";
			gpios = <&pca9536 3 GPIO_ACTIVE_HIGH>,
				<&pca9536 2 GPIO_ACTIVE_HIGH>,
				<&pca9536 1 GPIO_ACTIVE_HIGH>,
				<&pca9536 0 GPIO_ACTIVE_HIGH>;
			linux,axis = <0>; /* ABS_X */
			decoder-max-value = <9>;
		};
	};
  };
};

&main_pmx0 {
	icssg0_mdio_pins_default: icssg0_mdio_pins_default {
		pinctrl-single,pins = <
			AM65X_IOPAD(0x0294, PIN_INPUT | MUX_MODE0) /* (AE26) PRG0_MDIO0_MDIO */
			AM65X_IOPAD(0x0298, PIN_OUTPUT | MUX_MODE0) /* (AE28) PRG0_MDIO0_MDC */
		>;
	};

	icssg0_rgmii_pins_default: icssg0_rgmii_pins_default {
		pinctrl-single,pins = <
			AM65X_IOPAD(0x0244, PIN_INPUT | MUX_MODE2) /* (AB28) PRG0_PRU1_GPO0.PRG0_RGMII2_RD0 */
			AM65X_IOPAD(0x0248, PIN_INPUT | MUX_MODE2) /* (AC28) PRG0_PRU1_GPO1.PRG0_RGMII2_RD1 */
			AM65X_IOPAD(0x024c, PIN_INPUT | MUX_MODE2) /* (AC27) PRG0_PRU1_GPO2.PRG0_RGMII2_RD2 */
			AM65X_IOPAD(0x0250, PIN_INPUT | MUX_MODE2) /* (AB26) PRG0_PRU1_GPO3.PRG0_RGMII2_RD3 */
			AM65X_IOPAD(0x0274, PIN_OUTPUT | MUX_MODE2) /* (AC25) PRG0_PRU1_GPO12.PRG0_RGMII2_TD0 */
			AM65X_IOPAD(0x0278, PIN_OUTPUT | MUX_MODE2) /* (AD25) PRG0_PRU1_GPO13.PRG0_RGMII2_TD1 */
			AM65X_IOPAD(0x027c, PIN_OUTPUT | MUX_MODE2) /* (AD24) PRG0_PRU1_GPO14.PRG0_RGMII2_TD2 */
			AM65X_IOPAD(0x0280, PIN_OUTPUT | MUX_MODE2) /* (AE27) PRG0_PRU1_GPO15.PRG0_RGMII2_TD3 */
			AM65X_IOPAD(0x0284, PIN_INPUT | MUX_MODE2) /* (AC24) PRG0_PRU1_GPO16.PRG0_RGMII2_TXC */
			AM65X_IOPAD(0x0270, PIN_OUTPUT | MUX_MODE2) /* (AB24) PRG0_PRU1_GPO11.PRG0_RGMII2_TX_CTL */
			AM65X_IOPAD(0x025c, PIN_INPUT | MUX_MODE2) /* (AB27) PRG0_PRU1_GPO6.PRG0_RGMII2_RXC */
			AM65X_IOPAD(0x0254, PIN_INPUT | MUX_MODE2) /* (AA25) PRG0_PRU1_GPO4.PRG0_RGMII2_RX_CTL */

			AM65X_IOPAD(0x01f4, PIN_INPUT | MUX_MODE2) /* (V24) PRG0_PRU0_GPO0.PRG0_RGMII1_RD0 */
			AM65X_IOPAD(0x01f8, PIN_INPUT | MUX_MODE2) /* (W25) PRG0_PRU0_GPO1.PRG0_RGMII1_RD1 */
			AM65X_IOPAD(0x01fc, PIN_INPUT | MUX_MODE2) /* (W24) PRG0_PRU0_GPO2.PRG0_RGMII1_RD2 */
			AM65X_IOPAD(0x0200, PIN_INPUT | MUX_MODE2) /* (AA27) PRG0_PRU0_GPO3.PRG0_RGMII1_RD3 */
			AM65X_IOPAD(0x0224, PIN_OUTPUT | MUX_MODE2) /* (AD27) PRG0_PRU0_GPO12.PRG0_RGMII1_TD0 */
			AM65X_IOPAD(0x0228, PIN_OUTPUT | MUX_MODE2) /* (AC26) PRG0_PRU0_GPO13.PRG0_RGMII1_TD1 */
			AM65X_IOPAD(0x022c, PIN_OUTPUT | MUX_MODE2) /* (AD26) PRG0_PRU0_GPO14.PRG0_RGMII1_TD2 */
			AM65X_IOPAD(0x0230, PIN_OUTPUT | MUX_MODE2) /* (AA24) PRG0_PRU0_GPO15.PRG0_RGMII1_TD3 */
			AM65X_IOPAD(0x0234, PIN_INPUT | MUX_MODE2) /* (AD28) PRG0_PRU0_GPO16.PRG0_RGMII1_TXC */
			AM65X_IOPAD(0x0220, PIN_OUTPUT | MUX_MODE2) /* (AB25) PRG0_PRU0_GPO11.PRG0_RGMII1_TX_CTL */
			AM65X_IOPAD(0x020c, PIN_INPUT | MUX_MODE2) /* (Y25) PRG0_PRU0_GPO6.PRG0_RGMII1_RXC */
			AM65X_IOPAD(0x0204, PIN_INPUT | MUX_MODE2) /* (Y24) PRG0_PRU0_GPO4.PRG0_RGMII1_RX_CTL */
		>;
	};

	icssg1_mdio_pins_default: icssg1_mdio_pins_default {
		pinctrl-single,pins = <
			AM65X_IOPAD(0x0180, PIN_INPUT | MUX_MODE0) /* (AD18) PRG1_MDIO0_MDIO */
			AM65X_IOPAD(0x0184, PIN_OUTPUT | MUX_MODE0) /* (AH18) PRG1_MDIO0_MDC */
		>;
	};

	icssg1_rgmii_pins_default: icssg1_rgmii_pins_default {
		pinctrl-single,pins = <
			AM65X_IOPAD(0x0130, PIN_INPUT | MUX_MODE2) /* (AH24) PRG1_PRU1_GPO0.PRG1_RGMII2_RD0 */
			AM65X_IOPAD(0x0134, PIN_INPUT | MUX_MODE2) /* (AH23) PRG1_PRU1_GPO1.PRG1_RGMII2_RD1 */
			AM65X_IOPAD(0x0138, PIN_INPUT | MUX_MODE2) /* (AG21) PRG1_PRU1_GPO2.PRG1_RGMII2_RD2 */
			AM65X_IOPAD(0x013c, PIN_INPUT | MUX_MODE2) /* (AH22) PRG1_PRU1_GPO3.PRG1_RGMII2_RD3 */
			AM65X_IOPAD(0x0160, PIN_OUTPUT | MUX_MODE2) /* (AE20) PRG1_PRU1_GPO12.PRG1_RGMII2_TD0 */
			AM65X_IOPAD(0x0164, PIN_OUTPUT | MUX_MODE2) /* (AF19) PRG1_PRU1_GPO13.PRG1_RGMII2_TD1 */
			AM65X_IOPAD(0x0168, PIN_OUTPUT | MUX_MODE2) /* (AH19) PRG1_PRU1_GPO14.PRG1_RGMII2_TD2 */
			AM65X_IOPAD(0x016c, PIN_OUTPUT | MUX_MODE2) /* (AG19) PRG1_PRU1_GPO15.PRG1_RGMII2_TD3 */
			AM65X_IOPAD(0x0170, PIN_INPUT | MUX_MODE2) /* (AE19) PRG1_PRU1_GPO16.PRG1_RGMII2_TXC */
			AM65X_IOPAD(0x015c, PIN_OUTPUT | MUX_MODE2) /* (AC20) PRG1_PRU1_GPO11.PRG1_RGMII2_TX_CTL */
			AM65X_IOPAD(0x0148, PIN_INPUT | MUX_MODE2) /* (AG22) PRG1_PRU1_GPO6.PRG1_RGMII2_RXC */
			AM65X_IOPAD(0x0140, PIN_INPUT | MUX_MODE2) /* (AE21) PRG1_PRU1_GPO4.PRG1_RGMII2_RX_CTL */

			AM65X_IOPAD(0x00e0, PIN_INPUT | MUX_MODE2) /* (AE22) PRG1_PRU0_GPO0.PRG1_RGMII1_RD0 */
			AM65X_IOPAD(0x00e4, PIN_INPUT | MUX_MODE2) /* (AG24) PRG1_PRU0_GPO1.PRG1_RGMII1_RD1 */
			AM65X_IOPAD(0x00e8, PIN_INPUT | MUX_MODE2) /* (AF23) PRG1_PRU0_GPO2.PRG1_RGMII1_RD2 */
			AM65X_IOPAD(0x00ec, PIN_INPUT | MUX_MODE2) /* (AD21) PRG1_PRU0_GPO3.PRG1_RGMII1_RD3 */
			AM65X_IOPAD(0x0110, PIN_OUTPUT | MUX_MODE2) /* (AH20) PRG1_PRU0_GPO12.PRG1_RGMII1_TD0 */
			AM65X_IOPAD(0x0114, PIN_OUTPUT | MUX_MODE2) /* (AH21) PRG1_PRU0_GPO13.PRG1_RGMII1_TD1 */
			AM65X_IOPAD(0x0118, PIN_OUTPUT | MUX_MODE2) /* (AG20) PRG1_PRU0_GPO14.PRG1_RGMII1_TD2 */
			AM65X_IOPAD(0x011c, PIN_OUTPUT | MUX_MODE2) /* (AD19) PRG1_PRU0_GPO15.PRG1_RGMII1_TD3 */
			AM65X_IOPAD(0x0120, PIN_INPUT | MUX_MODE2) /* (AD20) PRG1_PRU0_GPO16.PRG1_RGMII1_TXC */
			AM65X_IOPAD(0x010c, PIN_OUTPUT | MUX_MODE2) /* (AF21) PRG1_PRU0_GPO11.PRG1_RGMII1_TX_CTL */
			AM65X_IOPAD(0x00f8, PIN_INPUT | MUX_MODE2) /* (AF22) PRG1_PRU0_GPO6.PRG1_RGMII1_RXC */
			AM65X_IOPAD(0x00f0, PIN_INPUT | MUX_MODE2) /* (AG23) PRG1_PRU0_GPO4.PRG1_RGMII1_RX_CTL */
		>;
	};

	mcan0_gpio_pins_default: mcan0_gpio_pins_default {
		pinctrl-single,pins = <
			AM65X_IOPAD(0x023c, PIN_INPUT | MUX_MODE7) /* (V25) PRG0_PRU0_GPIO18:GPIO1_47 */
		>;
	};

	mcan1_gpio_pins_default: mcan1_gpio_pins_default {
		pinctrl-single,pins = <
			AM65X_IOPAD(0x028c, PIN_INPUT | MUX_MODE7) /* (Y26) PRG0_PRU1_GPIO18.GPIO1_67 */
		>;
	};
};

&wkup_pmx0 {

	mcu_mcan0_pins_default: mcu_mcan0_pins_default {
		pinctrl-single,pins = <
			AM65X_WKUP_IOPAD(0x00ac, PIN_INPUT_PULLUP | MUX_MODE0) /* (W2) MCU_MCAN0_RX */
			AM65X_WKUP_IOPAD(0x00a8, PIN_OUTPUT_PULLUP | MUX_MODE0) /* (W1) MCU_MCAN0_TX */
		>;
	};

	mcu_mcan1_pins_default: mcu_mcan1_pins_default {
		pinctrl-single,pins = <
			AM65X_WKUP_IOPAD(0x00c4, PIN_INPUT_PULLUP | MUX_MODE1) /* (AD3) WKUP_GPIO0_5.MCU_MCAN1_RX */
			AM65X_WKUP_IOPAD(0x00c0, PIN_OUTPUT_PULLUP | MUX_MODE1) /* (AC3) WKUP_GPIO0_4.MCU_MCAN1_TX */
		>;
	};
};

&icssg0_mdio {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&icssg0_mdio_pins_default>;
	#address-cells = <1>;
	#size-cells = <0>;

	pruss0_eth0_phy: ethernet-phy@0 {
		reg = <0>;
		ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
		ti,tx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
		ti,fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_4_B_NIB>;
	};

	pruss0_eth1_phy: ethernet-phy@3 {
		reg = <3>;
		ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
		ti,tx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
		ti,fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_4_B_NIB>;
	};
};

&icssg1_mdio {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&icssg1_mdio_pins_default>;
	#address-cells = <1>;
	#size-cells = <0>;

	pruss1_eth0_phy: ethernet-phy@0 {
		reg = <0>;
		ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
		ti,tx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
		ti,fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_4_B_NIB>;
	};

	pruss1_eth1_phy: ethernet-phy@3 {
		reg = <3>;
		ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
		ti,tx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
		ti,fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_4_B_NIB>;
	};
};

&m_can0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&mcu_mcan0_pins_default &mcan0_gpio_pins_default>;
	stb-gpios = <&main_gpio1 47 GPIO_ACTIVE_HIGH>;
	can-transceiver {
		max-bitrate = <5000000>;
	};
};

&m_can1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&mcu_mcan1_pins_default &mcan1_gpio_pins_default>;
	stb-gpios = <&main_gpio1 67 GPIO_ACTIVE_HIGH>;
	can-transceiver {
		max-bitrate = <5000000>;
	};
};

&main_i2c0 {
	status = "okay";
	clock-frequency = <400000>;
	#address-cells = <1>;
	#size-cells = <0>;

	pca9536: gpio@41 {
		compatible = "ti,pca9536";
		reg = <0x41>;
		gpio-controller;
		#gpio-cells = <2>;
	};
};
