// SPDX-License-Identifier: GPL-2.0
/**
 * DT Overlay for CPSW9G in dual port fixed-link USXGMII mode using ENET-1
 * and ENET-2 Expansion slots of J784S4 EVM.
 *
 * Copyright (C) 2022 Texas Instruments Incorporated - https://www.ti.com/
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/mux/ti-serdes.h>
#include <dt-bindings/phy/phy-cadence.h>
#include <dt-bindings/phy/phy.h>

&main_cpsw0 {
	status = "okay";
	pinctrl-names = "default";
};

&main_cpsw0_port1 {
	status = "okay";
	phy-mode = "usxgmii";
	mac-address = [00 00 00 00 00 00];
	phys = <&phy_gmii_sel_cpsw0 1>, <&serdes2_usxgmii_link>;
	phy-names = "portmode", "serdes-phy";
	fixed-link {
		speed = <5000>;
		full-duplex;
	};
};

&main_cpsw0_port2 {
	status = "okay";
	phy-mode = "usxgmii";
	mac-address = [00 00 00 00 00 00];
	phys = <&phy_gmii_sel_cpsw0 2>, <&serdes2_usxgmii_link>;
	phy-names = "portmode", "serdes-phy";
	fixed-link {
		speed = <5000>;
		full-duplex;
	};
};

&main_cpsw0_port3 {
	status = "disabled";
};

&main_cpsw0_port4 {
	status = "disabled";
};

&main_cpsw0_port5 {
	status = "disabled";
};

&main_cpsw0_port6 {
	status = "disabled";
};

&main_cpsw0_port7 {
	status = "disabled";
};

&main_cpsw0_port8 {
	status = "disabled";
};

&cpsw9g_virt_mac {
	status = "disabled";
};

&cpsw9g_virt_maconly {
	status = "disabled";
};

&serdes_wiz2 {
	status = "okay";
	assigned-clock-parents = <&k3_clks 406 9>;
};

&serdes2 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	serdes2_usxgmii_link: phy@2 {
		reg = <2>;
		cdns,num-lanes = <2>;
		#phy-cells = <0>;
		cdns,phy-type = <PHY_TYPE_USXGMII>;
		resets = <&serdes_wiz2 3>, <&serdes_wiz2 4>;
	};
};

&serdes_ln_ctrl {
	idle-states = <J784S4_SERDES0_LANE0_PCIE1_LANE0>, <J784S4_SERDES0_LANE1_PCIE1_LANE1>,
		      <J784S4_SERDES0_LANE2_IP3_UNUSED>, <J784S4_SERDES0_LANE3_USB>,
		      <J784S4_SERDES1_LANE0_PCIE0_LANE0>, <J784S4_SERDES1_LANE1_PCIE0_LANE1>,
		      <J784S4_SERDES1_LANE2_PCIE0_LANE2>, <J784S4_SERDES1_LANE3_PCIE0_LANE3>,
		      <J784S4_SERDES2_LANE0_IP2_UNUSED>, <J784S4_SERDES2_LANE1_IP2_UNUSED>,
		      <J784S4_SERDES2_LANE2_QSGMII_LANE1>, <J784S4_SERDES2_LANE3_QSGMII_LANE2>;
};

&main_r5fss0_core0 {
	firmware-name = "pdk-ipc/ipc_echo_test_mcu2_0_release_strip.xer5f";
};
