// SPDX-License-Identifier: GPL-2.0-only OR MIT
/*
 * DT Overlay for FPDLink IV UB9702 Deserializer on J784S4 EVM
 * https://www.ti.com/tool/J7EXPA01EVM
 *
 * Copyright (C) 2025 Texas Instruments Incorporated - https://www.ti.com/
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>

&{/} {
	clk_fusion_25M_fixed: fixed-clock-25M {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <25000000>;
	};
};

&exp5 {
	p0-hog{
		gpio-hog;
		gpios = <0 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "CSI2_EXP_RSTZ";
	};
};

&main_i2c5 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	deser@3d {
		compatible = "ti,ds90ub9702-q1";
		reg = <0x3d>;
		clocks = <&clk_fusion_25M_fixed>;
		clock-names = "refclk";
		i2c-alias-pool = <0x4a 0x4b 0x4c 0x4d 0x4e 0x4f>;

		deserializer_0_ports: ports {
			#address-cells = <1>;
			#size-cells = <0>;

			/* CSI-2 TX */
			port@4 {
				reg = <4>;
				ds90ub970_0_csi_out: endpoint {
					clock-lanes = <0>;
					data-lanes = <1 2 3 4>;
					link-frequencies = /bits/ 64 <800000000>;
					remote-endpoint = <&csi2_phy0>;
				};
			};
		};

		deserializer_0_links: links {
			#address-cells = <1>;
			#size-cells = <0>;
		};
	};

	deser@30 {
		compatible = "ti,ds90ub9702-q1";
		reg = <0x30>;
		clocks = <&clk_fusion_25M_fixed>;
		clock-names = "refclk";
		i2c-alias-pool = <0x5a 0x5b 0x5c 0x5d 0x5e 0x5f>;

		deserializer_1_ports: ports {
			#address-cells = <1>;
			#size-cells = <0>;

			/* CSI-2 TX */
			port@4 {
				reg = <4>;
				ds90ub970_1_csi_out: endpoint {
					clock-lanes = <0>;
					data-lanes = <1 2 3 4>;
					link-frequencies = /bits/ 64 <800000000>;
					remote-endpoint = <&csi2_phy1>;
				};
			};
		};

		deserializer_1_links: links {
			#address-cells = <1>;
			#size-cells = <0>;
		};
	};

	deser@32 {
		compatible = "ti,ds90ub9702-q1";
		reg = <0x32>;
		clocks = <&clk_fusion_25M_fixed>;
		clock-names = "refclk";
		i2c-alias-pool = <0x6a 0x6b 0x6c 0x6d 0x6e 0x6f>;

		deserializer_2_ports: ports {
			#address-cells = <1>;
			#size-cells = <0>;

			/* CSI-2 TX */
			port@4 {
				reg = <4>;
				ds90ub970_2_csi_out: endpoint {
					clock-lanes = <0>;
					data-lanes = <1 2 3 4>;
					link-frequencies = /bits/ 64 <800000000>;
					remote-endpoint = <&csi2_phy2>;
				};
			};
		};

		deserializer_2_links: links {
			#address-cells = <1>;
			#size-cells = <0>;
		};
	};
};

&cdns_csi2rx0 {
	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		csi0_port0: port@0 {
			reg = <0>;
			status = "okay";

			csi2_phy0: endpoint {
				remote-endpoint = <&ds90ub970_0_csi_out>;
				clock-lanes = <0>;
				data-lanes = <1 2 3 4>;
				link-frequencies = /bits/ 64 <800000000>;

			};
		};
	};
};

&cdns_csi2rx1 {
	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		csi1_port0: port@0 {
			reg = <0>;
			status = "okay";

			csi2_phy1: endpoint {
				remote-endpoint = <&ds90ub970_1_csi_out>;
				bus-type = <4>; /* CSI2 DPHY */
				clock-lanes = <0>;
				data-lanes = <1 2 3 4>;
				link-frequencies = /bits/ 64 <800000000>;
			};
		};
	};
};

&cdns_csi2rx2 {
	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		csi2_port0: port@0 {
			reg = <0>;
			status = "okay";

			csi2_phy2: endpoint {
				remote-endpoint = <&ds90ub970_2_csi_out>;
				bus-type = <4>; /* CSI2 DPHY */
				clock-lanes = <0>;
				data-lanes = <1 2 3 4>;
				link-frequencies = /bits/ 64 <800000000>;
			};
		};
	};
};

&ti_csi2rx0 {
	status = "okay";
};

&ti_csi2rx1 {
	status = "okay";
};

&ti_csi2rx2 {
	status = "okay";
};

&dphy0 {
	status = "okay";
};

&dphy1 {
	status = "okay";
};

&dphy2 {
	status = "okay";
};
