#
# Beaglebone capes
#

config BEAGLEBONE_PINMUX_HELPER
	tristate "Beaglebone Pinmux Helper"
	depends on ARCH_OMAP2PLUS && OF
	default n
	help
	  Say Y here to include support for the pinmux helper

config BEAGLEBONE_IIO_HELPER
	tristate "Beaglebone AM335x TSCADC Helper"
	depends on ARCH_OMAP2PLUS && OF && MFD_TI_AM335X_TSCADC
	default n
	help
	  Say Y here to include support for the IIO helper

config CAPE_BEAGLEBONE
	tristate "Beaglebone cape support"
	depends on ARCH_OMAP2PLUS && OF && I2C
	default n
	select OF_PLUGIN
	help
	  Say Y here to include support for beaglebone capes

config CAPE_BEAGLEBONE_GEIGER
	tristate "Beaglebone Geiger Cape"
	depends on CAPE_BEAGLEBONE
	default n
	help
	  Say Y here to include support for the Geiger Cape


config CAPE_BEAGLEBONE_NIXIE
	tristate "Beaglebone Nixie Cape"
	depends on CAPE_BEAGLEBONE
	default n
	help
	  Say Y here to include support for the Nixie Cape
