config XENO_DRIVERS_CAN_SJA1000
	depends on XENO_DRIVERS_CAN
	tristate "Philips SJA1000 CAN controller"
	select XENO_DRIVERS_CAN_BUS_ERR

config XENO_DRIVERS_CAN_SJA1000_ISA
	depends on XENO_DRIVERS_CAN_SJA1000
	tristate "Standard ISA controllers"
	help

	This driver is for CAN devices connected to the ISA bus of a PC
	or a PC/104 system. The I/O port, interrupt number and a few other
	hardware specific parameters can be defined via module parameters.

config XENO_DRIVERS_CAN_SJA1000_MEM
	depends on XENO_DRIVERS_CAN_SJA1000
	tristate "Memory mapped controllers"
	help

	This driver is for memory mapped CAN devices. The memory address,
	interrupt number and a few other hardware specific parameters can
	be defined via module parameters.

config XENO_DRIVERS_CAN_SJA1000_PEAK_PCI
	depends on XENO_DRIVERS_CAN_SJA1000 && PCI
	tristate "PEAK PCI Card"
	help

	This driver is for the PCAN PCI, the PC-PCI CAN plug-in card (1 or
	2 channel) from PEAK Systems (http://www.peak-system.com). To get
	the second channel working, Xenomai's shared interrupt support
	must be enabled.

config XENO_DRIVERS_CAN_SJA1000_IXXAT_PCI
	depends on XENO_DRIVERS_CAN_SJA1000 && PCI
	tristate "IXXAT PCI Card"
	help

	This driver is for the IXXAT PC-I 04/PCI card (1 or 2 channel)
	from the IXXAT Automation GmbH (http://www.ixxat.de). To get
	the second channel working, Xenomai's shared interrupt support
	must be enabled.

config XENO_DRIVERS_CAN_SJA1000_ADV_PCI
	depends on XENO_DRIVERS_CAN_SJA1000 && PCI
	tristate "ADVANTECH PCI Cards"
	help

	This driver is for the ADVANTECH PCI cards (1 or more channels)
	It supports the 1680U and some other ones.


config XENO_DRIVERS_CAN_SJA1000_PLX_PCI
	depends on XENO_DRIVERS_CAN_SJA1000 && PCI
	tristate "PLX90xx PCI-bridge based Cards"
	help

	This driver is for CAN interface cards based on
	the PLX90xx PCI bridge.
	Driver supports now:
	 - Adlink PCI-7841/cPCI-7841 card (http://www.adlinktech.com/)
	 - Adlink PCI-7841/cPCI-7841 SE card
	 - esd CAN-PCI/CPCI/PCI104/200 (http://www.esd.eu/)
	 - esd CAN-PCI/PMC/266
	 - esd CAN-PCIe/2000
	 - Marathon CAN-bus-PCI card (http://www.marathon.ru/)
	 - TEWS TECHNOLOGIES TPMC810 card (http://www.tews.com/)

config XENO_DRIVERS_CAN_SJA1000_EMS_PCI
	depends on XENO_DRIVERS_CAN_SJA1000 && PCI
	tristate "EMS CPC PCI Card"
	help

	This driver is for the 2 channel CPC PCI card from EMS Dr. Thomas
	Wünsche (http://www.ems-wuensche.de). To get the second channel
	working, Xenomai's shared interrupt support must be enabled.

config XENO_DRIVERS_CAN_SJA1000_ESD_PCI
	depends on XENO_DRIVERS_CAN_SJA1000 && PCI
	tristate "ESD PCI Cards (DEPRECATED)"
	help

	This driver supports the esd PCI CAN cards CAN-PCI/200,
	CAN-PCI/266, CAN-PMC/266 (PMC), CAN-CPCI/200 (CompactPCI),
	CAN-PCIe2000 (PCI Express) and CAN-PCI104/200 (PCI104)
	from the esd electronic system design gmbh (http://www.esd.eu).

	This driver is deprecated. It's functionality is now provided by
	"PLX90xx PCI-bridge based Cards" driver.

config XENO_DRIVERS_CAN_SJA1000_PEAK_DNG
	depends on XENO_DRIVERS_CAN_SJA1000 && !PARPORT
	tristate "PEAK Parallel Port Dongle"
	help

	This driver is for the PCAN Dongle, the PC parallel port to CAN
	converter from PEAK Systems (http://www.peak-system.com). You need
	to disable parallel port support in the kernel (CONFIG_PARPORT) for
	proper operation. The interface type (sp or epp), I/O port and
	interrupt number should be defined via module parameters.
