
config XENO_DRIVERS_ANALOGY_NI_MITE
	depends on XENO_DRIVERS_ANALOGY && PCI
	tristate "NI MITE driver"
	default n

config XENO_DRIVERS_ANALOGY_NI_TIO
	depends on XENO_DRIVERS_ANALOGY
	tristate "NI TIO driver"
	default n

config XENO_DRIVERS_ANALOGY_NI_MIO       
	depends on XENO_DRIVERS_ANALOGY && XENO_DRIVERS_ANALOGY_NI_TIO && PCI
	tristate "NI MIO driver"
	default n

config XENO_DRIVERS_ANALOGY_NI_PCIMIO       
	depends on XENO_DRIVERS_ANALOGY && PCI
	select XENO_DRIVERS_ANALOGY_NI_MITE
	select XENO_DRIVERS_ANALOGY_NI_TIO
	select XENO_DRIVERS_ANALOGY_NI_MIO
	select XENO_DRIVERS_ANALOGY_8255
	tristate "NI PCIMIO driver"
	default n

config XENO_DRIVERS_ANALOGY_NI_670x       
	depends on EXPERIMENTAL && XENO_DRIVERS_ANALOGY && PCI
	select XENO_DRIVERS_ANALOGY_NI_MITE
	select XENO_DRIVERS_ANALOGY_NI_TIO
	select XENO_DRIVERS_ANALOGY_NI_MIO
	select XENO_DRIVERS_ANALOGY_8255
	tristate "NI 670X driver (EXPERIMENTAL)"
	default n

config XENO_DRIVERS_ANALOGY_NI_660x       
	depends on EXPERIMENTAL && XENO_DRIVERS_ANALOGY && PCI
	select XENO_DRIVERS_ANALOGY_NI_MITE
	select XENO_DRIVERS_ANALOGY_NI_TIO
	select XENO_DRIVERS_ANALOGY_NI_MIO
	select XENO_DRIVERS_ANALOGY_8255
	tristate "NI 660X driver (EXPERIMENTAL)"
	default n
