# Add config flags here that appear in the multi_v7_defconfig but are not
# used by a kernel targeting only the currently supported TI EVMs

# Non-TI Architectures
CONFIG_ARCH_ACTIONS=n
CONFIG_ARCH_SUNXI=n
CONFIG_ARCH_AGILEX=n
CONFIG_ARCH_ALPINE=n
CONFIG_ARCH_APPLE=n
CONFIG_ARCH_BCM=n
CONFIG_ARCH_BCM2835=n
CONFIG_ARCH_BCM_IPROC=n
CONFIG_ARCH_BCMBCA=n
CONFIG_ARCH_BERLIN=n
CONFIG_ARCH_BRCMSTB=n
CONFIG_ARCH_EXYNOS=n
CONFIG_ARCH_LAYERSCAPE=n
CONFIG_ARCH_LG1K=n
CONFIG_ARCH_HISI=n
CONFIG_ARCH_KEEMBAY=n
CONFIG_ARCH_MA35=n
CONFIG_ARCH_MEDIATEK=n
CONFIG_ARCH_MESON=n
CONFIG_ARCH_MVEBU=n
CONFIG_ARCH_NXP=n
CONFIG_ARCH_MXC=n
CONFIG_ARCH_NPCM=n
CONFIG_ARCH_QCOM=n
CONFIG_ARCH_ROCKCHIP=n
CONFIG_ARCH_SEATTLE=n
CONFIG_ARCH_REALTEK=n
CONFIG_ARCH_RENESAS=n
CONFIG_ARCH_R8A7795=n
CONFIG_ARCH_R8A7796=n
CONFIG_ARCH_S32=n
CONFIG_ARCH_SPARX5=n
CONFIG_ARCH_STM32=n
CONFIG_ARCH_STRATIX10=n
CONFIG_ARCH_INTEL_SOCFPGA=n
CONFIG_ARCH_SYNQUACER=n
CONFIG_ARCH_TEGRA=n
CONFIG_ARCH_SPRD=n
CONFIG_ARCH_THUNDER=n
CONFIG_ARCH_THUNDER2=n
CONFIG_ARCH_UNIPHIER=n
CONFIG_ARCH_VEXPRESS=n
CONFIG_ARCH_VISCONTI=n
CONFIG_ARCH_XGENE=n
CONFIG_ARCH_ZX=n
CONFIG_ARCH_ZYNQMP=n
CONFIG_ARCH_TEGRA_132_SOC=n
CONFIG_ARCH_TEGRA_210_SOC=n
CONFIG_ARCH_TEGRA_186_SOC=n

CONFIG_QCOM_FALKOR_ERRATUM_1003=n
CONFIG_QCOM_FALKOR_ERRATUM_1009=n
CONFIG_QCOM_QDF2400_ERRATUM_0065=n
CONFIG_QCOM_FALKOR_ERRATUM_E1041=n

CONFIG_CAVIUM_ERRATUM_22375=n
CONFIG_CAVIUM_ERRATUM_23144=n
CONFIG_CAVIUM_ERRATUM_23154=n
CONFIG_CAVIUM_ERRATUM_27456=n
CONFIG_CAVIUM_ERRATUM_30115=n

CONFIG_HISILICON_ERRATUM_161600802=n

# Disable Errata fixes not relevant for Cortex A53 and Cortext A72 cores.
# The Socionext Synquacer GICv3 pre-ITS workaround is used on K3 devices
# as well, thats why its left enabled.
CONFIG_AMPERE_ERRATUM_AC03_CPU_38=n
CONFIG_ARM64_ERRATUM_832075=n
CONFIG_ARM64_ERRATUM_1024718=n
CONFIG_ARM64_ERRATUM_1418040=n
CONFIG_ARM64_ERRATUM_1165522=n
CONFIG_ARM64_ERRATUM_1530923=n
CONFIG_ARM64_ERRATUM_2441007=n
CONFIG_ARM64_ERRATUM_1286807=n
CONFIG_ARM64_ERRATUM_1463225=n
CONFIG_ARM64_ERRATUM_1542419=n
CONFIG_ARM64_ERRATUM_1508412=n
CONFIG_ARM64_ERRATUM_2051678=n
CONFIG_ARM64_ERRATUM_2077057=n
CONFIG_ARM64_ERRATUM_2658417=n
CONFIG_ARM64_ERRATUM_2054223=n
CONFIG_ARM64_ERRATUM_2067961=n
CONFIG_ARM64_ERRATUM_2441009=n
CONFIG_CAVIUM_TX2_ERRATUM_219=n
CONFIG_FUJITSU_ERRATUM_010001=n
CONFIG_NVIDIA_CARMEL_CNP_ERRATUM=n

# Serial
CONFIG_SERIAL_8250_FSL=n
CONFIG_SERIAL_8250_DW=n
CONFIG_SERIAL_AMBA_PL011=n
CONFIG_SERIAL_AMBA_PL011_CONSOLE=n
CONFIG_SERIAL_XILINX_PS_UART=n
CONFIG_SERIAL_XILINX_PS_UART_CONSOLE=n

CONFIG_ARM_SCPI_PROTOCOL=n
CONFIG_ARM_SCPI_POWER_DOMAIN=n
CONFIG_ARM_SCPI_CPUFREQ=n
CONFIG_SENSORS_ARM_SCPI=n
CONFIG_COMMON_CLK_SCPI=n

CONFIG_ARM_MHU=n
CONFIG_PLATFORM_MHU=n

CONFIG_ACPI=n

CONFIG_NUMA=n

CONFIG_XEN=n
CONFIG_KVM=n

CONFIG_ARM_BIG_LITTLE_CPUFREQ=n

CONFIG_PCI_XGENE=n
CONFIG_PCI_HISI=n
CONFIG_PCIE_KIRIN=n

# DRM
CONFIG_DRM_NOUVEAU=n
CONFIG_DRM_I2C_ADV7511=n
CONFIG_DRM_ETNAVIV=n
CONFIG_DRM_HISI_HIBMC=n
CONFIG_DRM_HISI_KIRIN=n
CONFIG_DRM_MXSFB=n
CONFIG_DRM_PL111=n
CONFIG_DRM_LIMA=n
CONFIG_DRM_PANFROST=n

# Video
CONFIG_VGA_ARB=n
CONFIG_FB_EFI=n

# V4L2
CONFIG_RC_CORE=n

# Sound
CONFIG_SND_SPI=n
CONFIG_SND_SOC_FSL_SAI=n
CONFIG_SND_SOC_AK4613=n
CONFIG_SND_SOC_ES7134=n
CONFIG_SND_SOC_ES7241=n
CONFIG_SND_SOC_TAS571X=n

# USB
CONFIG_USB_MUSB_HDRC=n
CONFIG_USB_DWC2=n
CONFIG_USB_CHIPIDEA=n
CONFIG_USB_ISP1760=n
CONFIG_USB_HSIC_USB3503=n

# Generic kernel

# We recommend to turn off Real-Time group scheduling in the
# kernel when using systemd. RT group scheduling effectively
# makes RT scheduling unavailable for most userspace, since it
# requires explicit assignment of RT budgets to each unit whose
# processes making use of RT. As there's no sensible way to
# assign these budgets automatically this cannot really be
# fixed, and it's best to disable group scheduling hence.
CONFIG_RT_GROUP_SCHED=n

# Remove debug features.
CONFIG_SLUB_DEBUG=n

# We are not a crash kernel
CONFIG_CRASH_DUMP=n

# ARM Scalable Vector Extension (SVE) is available only with ARMv8.2-A
# and above. Since current TI SoCs are based on ARMv8.0, disable SVE
CONFIG_ARM64_SVE=n

# Plan 9 is a distributed resource sharing protocol thats not
# typically used on TI processors
CONFIG_NET_9P=n

# Non-TI hardware vendor specific drivers
CONFIG_KEYBOARD_CROS_EC=n
CONFIG_I2C_CROS_EC_TUNNEL=n
CONFIG_QRTR=n
CONFIG_SPI_NXP_FLEXSPI=n
CONFIG_GPIO_ALTERA=n
CONFIG_GPIO_DWAPB=n
CONFIG_GPIO_MB86S7X=n
CONFIG_GPIO_PL061=n
CONFIG_GPIO_XGENE=n
CONFIG_POWER_RESET_XGENE=n
CONFIG_ARM_SP805_WATCHDOG=n
CONFIG_ARM_SBSA_WATCHDOG=n
CONFIG_DW_WATCHDOG=n
CONFIG_MFD_SEC_CORE=n
CONFIG_REGULATOR_QCOM_SPMI=n
CONFIG_DRM_MALI_DISPLAY=n
CONFIG_DRM_RCAR_DW_HDMI=n
CONFIG_DRM_DW_HDMI_AHB_AUDIO=n
CONFIG_DRM_DW_HDMI_CEC=n
CONFIG_FB_SSD1307=n
CONFIG_MMC_ARMMMCI=n
CONFIG_MMC_SDHCI_XENON=n
CONFIG_RTC_DRV_S5M=n
CONFIG_RTC_DRV_CROS_EC=n
CONFIG_RTC_DRV_PL031=n
CONFIG_FSL_EDMA=n
CONFIG_MV_XOR_V2=n
CONFIG_PL330_DMA=n
CONFIG_QCOM_HIDMA_MGMT=n
CONFIG_QCOM_HIDMA=n
CONFIG_CHROME_PLATFORMS=n
CONFIG_CROS_EC=n
CONFIG_CROS_EC_I2C=n
CONFIG_CROS_EC_SPI=n
CONFIG_CROS_EC_CHARDEV=n
CONFIG_SURFACE_PLATFORMS=n
CONFIG_COMMON_CLK_S2MPS11=n
CONFIG_COMMON_CLK_VC5=n
CONFIG_COMMON_CLK_BD718XX=n
CONFIG_FSL_ERRATUM_A008585=n
CONFIG_HISILICON_ERRATUM_161010101=n
CONFIG_RPMSG_QCOM_GLINK_RPM=n
CONFIG_SOUNDWIRE_QCOM=n
CONFIG_EXTCON_USBC_CROS_EC=n
CONFIG_QCOM_SPMI_ADC5=n
CONFIG_IIO_CROS_EC_SENSORS_CORE=n
CONFIG_IIO_CROS_EC_SENSORS=n
CONFIG_IIO_CROS_EC_LIGHT_PROX=n
CONFIG_IIO_CROS_EC_BARO=n
CONFIG_PWM_CROS_EC=n
CONFIG_SLIM_QCOM_CTRL=n
CONFIG_SPI_PL022=n
CONFIG_SLIMBUS=n
CONFIG_REGMAP_SLIMBUS=n
CONFIG_SCSI_HISI_SAS=n
CONFIG_AHCI_CEVA=n
CONFIG_AHCI_XGENE=n
CONFIG_AHCI_QORIQ=n
CONFIG_SATA_SIL24=n
CONFIG_BCMGENET=n
CONFIG_SYSTEMPORT=n
CONFIG_HNS_DSAF=n
CONFIG_HNS_ENET=n
CONFIG_HNS3=n
CONFIG_NET_VENDOR_NVIDIA=n
CONFIG_NET_VENDOR_RENESAS=n
CONFIG_NET_VENDOR_SAMSUNG=n
CONFIG_NET_VENDOR_STMICRO=n
CONFIG_NET_VENDOR_XILINX=n
CONFIG_BROADCOM_PHY=n
CONFIG_BCM54140_PHY=n
CONFIG_ROCKCHIP_PHY=n
CONFIG_PCS_XPCS=n
CONFIG_HW_RANDOM_ARM_SMCCC_TRNG=n
CONFIG_HW_RANDOM_CN10K=n
CONFIG_I2C_CADENCE=n
CONFIG_I2C_DESIGNWARE_SLAVE=n
CONFIG_I2C_DESIGNWARE_PLATFORM=n
CONFIG_I2C_RK3X=n
CONFIG_PINCTRL_MAX77620=n
CONFIG_DRM_RCAR_USE_LVDS=n
CONFIG_DRM_RCAR_USE_MIPI_DSI=n
CONFIG_SND_SOC_FSL_ASRC=n
CONFIG_SND_SOC_FSL_AUDMIX=n
CONFIG_SND_SOC_FSL_SSI=n
CONFIG_SND_SOC_FSL_SPDIF=n
CONFIG_SND_SOC_FSL_ESAI=n
CONFIG_SND_SOC_FSL_MICFIL=n
CONFIG_SND_SOC_IMX_AUDMUX=n
CONFIG_MMC_SDHCI_OF_DWCMSHC=n
CONFIG_MMC_SDHCI_CADENCE=n
CONFIG_MMC_SDHCI_F_SDH30=n
CONFIG_MMC_DW=n
CONFIG_MMC_MTK=n
CONFIG_PCIE_ALTERA=n
CONFIG_PCI_HOST_THUNDER_PEM=n
CONFIG_PCI_HOST_THUNDER_ECAM=n
CONFIG_PCI_MESON=n
CONFIG_BRCMSTB_GISB_ARB=n
CONFIG_VEXPRESS_CONFIG=n
CONFIG_MTD_NAND_DENALI_DT=n
CONFIG_MTD_NAND_BRCMNAND=n
CONFIG_B53=n
CONFIG_NET_DSA_BCM_SF2=n
CONFIG_CAN_FLEXCAN=n
CONFIG_SPI_DESIGNWARE=n
CONFIG_SPI_ROCKCHIP=n
CONFIG_DRM_HDLCD=n
CONFIG_DRM_KOMEDA=n
CONFIG_COMMON_CLK_RK808=n
CONFIG_COMMON_CLK_XGENE=n
CONFIG_SOC_BRCMSTB=n
CONFIG_NET_VENDOR_ALACRITECH=n
CONFIG_NET_VENDOR_AMAZON=n
CONFIG_NET_VENDOR_AMD=n
CONFIG_NET_VENDOR_AQUANTIA=n
CONFIG_NET_VENDOR_ARC=n
CONFIG_NET_VENDOR_ASIX=n
CONFIG_NET_VENDOR_CORTINA=n
CONFIG_NET_VENDOR_DAVICOM=n
CONFIG_NET_VENDOR_ENGLEDER=n
CONFIG_NET_VENDOR_EZCHIP=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_NET_VENDOR_LITEX=n
CONFIG_NET_VENDOR_MICREL=n
CONFIG_NET_VENDOR_MICROCHIP=n
CONFIG_NET_VENDOR_MICROSEMI=n
CONFIG_NET_VENDOR_NATSEMI=n
CONFIG_NET_VENDOR_NI=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_NET_VENDOR_ROCKER=n
CONFIG_NET_VENDOR_SEEQ=n
CONFIG_NET_VENDOR_SMSC=n
CONFIG_NET_VENDOR_SOCIONEXT=n
CONFIG_NET_VENDOR_SOLARFLARE=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_NET_VENDOR_VERTEXCOM=n
CONFIG_NET_VENDOR_VIA=n
CONFIG_NET_VENDOR_WANGXUN=n
CONFIG_NET_VENDOR_WIZNET=n
CONFIG_NET_VENDOR_BROADCOM=n
CONFIG_NET_VENDOR_MICROSOFT=n
CONFIG_NET_VENDOR_FUNGIBLE=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_NET_VENDOR_PENSANDO=n
CONFIG_NET_VENDOR_CADENCE=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_NET_VENDOR_NETRONOME=n
CONFIG_NET_VENDOR_MARVELL=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_NET_VENDOR_HUAWEI=n

# Serial Power Management Interface (SPMI) has not been used on TI
# platforms (yet)
CONFIG_SPMI=n

# DVB and TV tuner cards are rarely used on TI platforms, if at all
CONFIG_CXD2880_SPI_DRV=n
CONFIG_MEDIA_TUNER_E4000=n
CONFIG_MEDIA_TUNER_FC0011=n
CONFIG_MEDIA_TUNER_FC0012=n
CONFIG_MEDIA_TUNER_FC0013=n
CONFIG_MEDIA_TUNER_FC2580=n
CONFIG_MEDIA_TUNER_IT913X=n
CONFIG_MEDIA_TUNER_M88RS6000T=n
CONFIG_MEDIA_TUNER_MAX2165=n
CONFIG_MEDIA_TUNER_MC44S803=n
CONFIG_MEDIA_TUNER_MSI001=n
CONFIG_MEDIA_TUNER_MT2060=n
CONFIG_MEDIA_TUNER_MT2063=n
CONFIG_MEDIA_TUNER_MT20XX=n
CONFIG_MEDIA_TUNER_MT2131=n
CONFIG_MEDIA_TUNER_MT2266=n
CONFIG_MEDIA_TUNER_MXL301RF=n
CONFIG_MEDIA_TUNER_MXL5005S=n
CONFIG_MEDIA_TUNER_MXL5007T=n
CONFIG_MEDIA_TUNER_QM1D1B0004=n
CONFIG_MEDIA_TUNER_QM1D1C0042=n
CONFIG_MEDIA_TUNER_QT1010=n
CONFIG_MEDIA_TUNER_R820T=n
CONFIG_MEDIA_TUNER_SI2157=n
CONFIG_MEDIA_TUNER_SIMPLE=n
CONFIG_MEDIA_TUNER_TDA18212=n
CONFIG_MEDIA_TUNER_TDA18218=n
CONFIG_MEDIA_TUNER_TDA18250=n
CONFIG_MEDIA_TUNER_TDA18271=n
CONFIG_MEDIA_TUNER_TDA827X=n
CONFIG_MEDIA_TUNER_TDA8290=n
CONFIG_MEDIA_TUNER_TDA9887=n
CONFIG_MEDIA_TUNER_TEA5761=n
CONFIG_MEDIA_TUNER_TEA5767=n
CONFIG_MEDIA_TUNER_TUA9001=n
CONFIG_MEDIA_TUNER_XC2028=n
CONFIG_MEDIA_TUNER_XC4000=n
CONFIG_MEDIA_TUNER_XC5000=n
CONFIG_DVB_M88DS3103=n
CONFIG_DVB_MXL5XX=n
CONFIG_DVB_STB0899=n
CONFIG_DVB_STB6100=n
CONFIG_DVB_STV090x=n
CONFIG_DVB_STV0910=n
CONFIG_DVB_STV6110x=n
CONFIG_DVB_STV6111=n
CONFIG_DVB_DRXK=n
CONFIG_DVB_MN88472=n
CONFIG_DVB_MN88473=n
CONFIG_DVB_SI2165=n
CONFIG_DVB_TDA18271C2DD=n
CONFIG_DVB_CX24110=n
CONFIG_DVB_CX24116=n
CONFIG_DVB_CX24117=n
CONFIG_DVB_CX24120=n
CONFIG_DVB_CX24123=n
CONFIG_DVB_DS3000=n
CONFIG_DVB_MB86A16=n
CONFIG_DVB_MT312=n
CONFIG_DVB_S5H1420=n
CONFIG_DVB_SI21XX=n
CONFIG_DVB_STB6000=n
CONFIG_DVB_STV0288=n
CONFIG_DVB_STV0299=n
CONFIG_DVB_STV0900=n
CONFIG_DVB_STV6110=n
CONFIG_DVB_TDA10071=n
CONFIG_DVB_TDA10086=n
CONFIG_DVB_TDA8083=n
CONFIG_DVB_TDA8261=n
CONFIG_DVB_TDA826X=n
CONFIG_DVB_TS2020=n
CONFIG_DVB_TUA6100=n
CONFIG_DVB_TUNER_CX24113=n
CONFIG_DVB_TUNER_ITD1000=n
CONFIG_DVB_VES1X93=n
CONFIG_DVB_ZL10036=n
CONFIG_DVB_ZL10039=n
CONFIG_DVB_AF9013=n
CONFIG_DVB_CX22700=n
CONFIG_DVB_CX22702=n
CONFIG_DVB_CXD2820R=n
CONFIG_DVB_CXD2841ER=n
CONFIG_DVB_DIB3000MB=n
CONFIG_DVB_DIB3000MC=n
CONFIG_DVB_DIB7000M=n
CONFIG_DVB_DIB7000P=n
CONFIG_DVB_DIB9000=n
CONFIG_DVB_DRXD=n
CONFIG_DVB_EC100=n
CONFIG_DVB_L64781=n
CONFIG_DVB_MT352=n
CONFIG_DVB_NXT6000=n
CONFIG_DVB_RTL2830=n
CONFIG_DVB_RTL2832=n
CONFIG_DVB_RTL2832_SDR=n
CONFIG_DVB_S5H1432=n
CONFIG_DVB_SI2168=n
CONFIG_DVB_SP887X=n
CONFIG_DVB_STV0367=n
CONFIG_DVB_TDA10048=n
CONFIG_DVB_TDA1004X=n
CONFIG_DVB_ZD1301_DEMOD=n
CONFIG_DVB_ZL10353=n
CONFIG_DVB_CXD2880=n
CONFIG_DVB_STV0297=n
CONFIG_DVB_TDA10021=n
CONFIG_DVB_TDA10023=n
CONFIG_DVB_VES1820=n
CONFIG_DVB_AU8522_DTV=n
CONFIG_DVB_AU8522_V4L=n
CONFIG_DVB_BCM3510=n
CONFIG_DVB_LG2160=n
CONFIG_DVB_LGDT3305=n
CONFIG_DVB_LGDT3306A=n
CONFIG_DVB_LGDT330X=n
CONFIG_DVB_MXL692=n
CONFIG_DVB_NXT200X=n
CONFIG_DVB_OR51132=n
CONFIG_DVB_OR51211=n
CONFIG_DVB_S5H1409=n
CONFIG_DVB_S5H1411=n
CONFIG_DVB_DIB8000=n
CONFIG_DVB_MB86A20S=n
CONFIG_DVB_S921=n
CONFIG_DVB_MN88443X=n
CONFIG_DVB_TC90522=n
CONFIG_DVB_PLL=n
CONFIG_DVB_TUNER_DIB0070=n
CONFIG_DVB_TUNER_DIB0090=n
CONFIG_DVB_A8293=n
CONFIG_DVB_AF9033=n
CONFIG_DVB_ASCOT2E=n
CONFIG_DVB_ATBM8830=n
CONFIG_DVB_HELENE=n
CONFIG_DVB_HORUS3A=n
CONFIG_DVB_ISL6405=n
CONFIG_DVB_ISL6421=n
CONFIG_DVB_ISL6423=n
CONFIG_DVB_IX2505V=n
CONFIG_DVB_LGS8GL5=n
CONFIG_DVB_LGS8GXX=n
CONFIG_DVB_LNBH25=n
CONFIG_DVB_LNBH29=n
CONFIG_DVB_LNBP21=n
CONFIG_DVB_LNBP22=n
CONFIG_DVB_M88RS2000=n
CONFIG_DVB_TDA665x=n
CONFIG_DVB_DRX39XYJ=n
CONFIG_DVB_CXD2099=n
CONFIG_DVB_SP2=n
