##################################################
# TI Early Display configs
##################################################

# Time measurements were perfomed on AM62x-SK and AM62Px-SK

# Configurations that add to boot time have to be reduced
# in order for display to come up as fast as possible

### Necessary reduction ###

# This config adds support for a virtual file system
# that developers use to put debugging files into
#
# This reduces kernel image size by 335.9KB and boot time by 48ms
CONFIG_DEBUG_FS=n

# This config adds support for normal Windows file systems
#
# This reduces kernel image size by 131.1KB and boot time by 32ms
CONFIG_VFAT_FS=m

# Kernel can apply read-only permissions to linear aliases of VM areas. This
# provides extra layer of protection against advertent/inadvertent modification
# of read-only data through the linear alias. While its a useful security
# feature, it has a performance impact.
#
#This reduces kernel image size by 0KB and boot time by 144ms
CONFIG_RODATA_FULL_DEFAULT_ENABLED=n

# Remove SPI support
#
# This reduces kernel image size by 208.9KB and reduces boot time by 16ms
CONFIG_SPI=n

# This adds support for PTP support used to precisely synchronize
# distributed clocks over Ethernet networks
#
# This reduces kernel image size by 69.6KB and reduces boot time by 64ms
CONFIG_PTP_1588_CLOCK=m

# Remove MMC support
#
# This reduces kernel image size by 137.2KB and reduces boot time by 32ms
CONFIG_MMC=m


### Additional reduction ###

# These configs reduce boot time by 64ms
CONFIG_PPS=m
CONFIG_PSTORE=m
CONFIG_CPU_FREQ=n

CONFIG_OVERLAY_FS=n
CONFIG_SQUASHFS=m

CONFIG_COMMON_CLK_SCMI=m
CONFIG_COMMON_CLK_RS9_PCIE=n
CONFIG_RESET_SCMI=m

CONFIG_PHY_CADENCE_SIERRA=m
CONFIG_PHY_XGENE=m
CONFIG_REALTEK_PHY=m

CONFIG_REGULATOR_AXP20X=m
CONFIG_MEDIA_CEC_SUPPORT=n
CONFIG_TCG_TPM=m

CONFIG_MTD_BLOCK=m
CONFIG_MTD_CMDLINE_PARTS=m
CONFIG_MTD_COMPLEX_MAPPINGS=n
CONFIG_MTD_RAW_NAND=m
CONFIG_MTD_SPI_NAND=m
CONFIG_MTD_UBI=m
CONFIG_UBIFS_FS=m

CONFIG_MULTIPLEXER=m
CONFIG_MUX_MMIO=m
CONFIG_SECTION_MISMATCH_WARN_ONLY=n

CONFIG_KEXEC=n
CONFIG_KEXEC_FILE=n
CONFIG_TASKSTATS=n
CONFIG_ATA=m

CONFIG_RUNTIME_TESTING_MENU=n
CONFIG_STACKTRACE=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_INDIRECT_PIO=n
CONFIG_QUOTA=n

CONFIG_XDP_SOCKETS=n
CONFIG_COMMON_CLK_VC3=m

# Disable ARMv8.1+ architecture features. TI K3 processors
# are based on ARMv8.0, and these features are not applicable.
CONFIG_ARM64_CNP=n
CONFIG_ARM64_HW_AFDBM=n
CONFIG_ARM64_PAN=n
CONFIG_ARM64_RAS_EXTN=n
CONFIG_ARM64_USE_LSE_ATOMICS=n
# End of architecture features

CONFIG_SOCIONEXT_SYNQUACER_PREITS=n
CONFIG_MEMORY_HOTPLUG=n

CONFIG_BSD_PROCESS_ACCT=n
CONFIG_CPU_ISOLATION=n
CONFIG_IRQ_TIME_ACCOUNTING=n
CONFIG_POSIX_MQUEUE=n
CONFIG_PROFILING=n

CONFIG_RD_BZIP2=n
CONFIG_RD_LZ4=n
CONFIG_RD_LZMA=n
CONFIG_RD_LZO=n
CONFIG_RD_XZ=n
CONFIG_RD_ZSTD=n

CONFIG_EXTCON=m
CONFIG_FPGA=m
CONFIG_HWMON=m
CONFIG_HWSPINLOCK=n
CONFIG_I2C_ALGOBIT=m
CONFIG_IIO=m
CONFIG_INTERCONNECT=n
CONFIG_MD=n
CONFIG_MEMORY=n
CONFIG_NEW_LEDS=n
CONFIG_PCI=n
CONFIG_PWM=n
CONFIG_RTC_CLASS=n
CONFIG_SOUND=m

CONFIG_STAGING=n
CONFIG_THERMAL=n
CONFIG_USB_SUPPORT=n
CONFIG_VFIO=m
CONFIG_VHOST_MENU=n
CONFIG_VIRTIO_MENU=n
CONFIG_AT803X_PHY=m
CONFIG_FSL_RCPM=n
CONFIG_INPUT_MATRIXKMAP=m
CONFIG_INPUT_MISC=n
CONFIG_INPUT_MOUSE=n
CONFIG_INPUT_TOUCHSCREEN=n
CONFIG_MDIO_BUS_MUX_MMIOREG=m
CONFIG_MDIO_BUS_MUX_MULTIPLEXER=m
CONFIG_MICROSEMI_PHY=m
CONFIG_MOTORCOMM_PHY=m

CONFIG_PHY_AM654_SERDES=m
CONFIG_PHY_CADENCE_TORRENT=m

CONFIG_RESET_SIMPLE=n
CONFIG_RPMSG_KDRV=m
CONFIG_RPMSG_KDRV_ETH_SWITCH=m
CONFIG_RPMSG_VIRTIO=m
CONFIG_SCSI=m
CONFIG_SERIO_AMBAKMI=m
CONFIG_SERIO_LIBPS2=m
CONFIG_TUN=m
CONFIG_VIRTIO_NET=m
CONFIG_VITESSE_PHY=m
CONFIG_WLAN=n
CONFIG_GPIO_GENERIC_PLATFORM=m
CONFIG_I2C_SLAVE=n
CONFIG_GPIO_TPS65219=m
CONFIG_GPIO_SYSCON=m

CONFIG_MFD_HI6421_PMIC=m
CONFIG_MFD_MAX77620=n
CONFIG_MFD_MT6397=m
CONFIG_MFD_ROHM_BD718XX=m
CONFIG_MFD_RK8XX=n
CONFIG_MFD_RK8XX_I2C=n

CONFIG_POWER_RESET_BRCMSTB=n

CONFIG_REGULATOR_BD9571MWV=m
CONFIG_REGULATOR_FAN53555=m
CONFIG_REGULATOR_MP8859=m
CONFIG_REGULATOR_PCA9450=m
CONFIG_REGULATOR_PF8X00=m
CONFIG_REGULATOR_PFUZE100=m
CONFIG_REGULATOR_TPS65219=m
CONFIG_SERIAL_FSL_LINFLEXUART=m
CONFIG_SERIAL_FSL_LPUART=m
CONFIG_REGULATOR_RAA215300=n
CONFIG_REGULATOR_RK808=n

CONFIG_LEGACY_TIOCSTI=n

CONFIG_TI_K3_AM65_CPSW_NUSS=m
CONFIG_MARVELL_10G_PHY=n
CONFIG_MDIO_BCM_UNIMAC=n

CONFIG_HID_A4TECH=n
CONFIG_HID_BELKIN=n
CONFIG_HID_CHERRY=n
CONFIG_HID_CYPRESS=n
CONFIG_HID_EZKEY=n
CONFIG_HID_ITE=n
CONFIG_HID_KENSINGTON=n
CONFIG_HID_REDRAGON=n
CONFIG_HID_MICROSOFT=n
CONFIG_HID_MONTEREY=n

# These configs enable Display drivers and add 600KB to the kernel Image.
# Note that SK-AM62A does not support OLDI and has support for HDMI alone.
# In an early display scenario for SK-AM62A, the following configs are not useful.
CONFIG_DRM=y
CONFIG_DRM_TIDSS=y
CONFIG_FB_SIMPLE=y
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_DRM_PANEL_LVDS=y
CONFIG_DRM_PANEL_SIMPLE=y
CONFIG_FRAMEBUFFER_CONSOLE=n
CONFIG_LOGO=n
