/*
 * Copyright (C) 2012 Texas Instruments Incorporated - http://www.ti.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/dts-v1/;

/include/ "am33xx.dtsi"

/ {
	model = "TI AM335x BeagleBone";
	compatible = "ti,am335x-bone", "ti,am33xx";

	cpus {
		cpu@0 {
			cpu0-supply = <&dcdc2_reg>;
		};
	};

	memory {
		device_type = "memory";
		reg = <0x80000000 0x10000000>; /* 256 MB */
	};

	am33xx_pinmux: pinmux@44e10800 {
		pinctrl-names = "default";
		pinctrl-0 = <&userleds_pins>;

		spi1_pins_s0: spi1_pins_s0 {
			pinctrl-single,pins = <
				0x190 0x33	/* mcasp0_aclkx.spi1_sclk, INPUT_PULLUP | MODE3 */
				0x194 0x33	/* mcasp0_fsx.spi1_d0, INPUT_PULLUP | MODE3 */
				0x198 0x13	/* mcasp0_axr0.spi1_d1, OUTPUT_PULLUP | MODE3 */
				0x19c 0x13	/* mcasp0_ahclkr.spi1_cs0, OUTPUT_PULLUP | MODE3 */
			>;
		};
		userled_pins: pinmux_userled_pins {
			pinctrl-single,pins = <
				0x54 0x7	/* gpmc_a5.gpio1_21, OUTPUT | MODE7 */
				0x58 0x17	/* gpmc_a6.gpio1_22, OUTPUT_PULLUP | MODE7 */
				0x5c 0x7	/* gpmc_a7.gpio1_23, OUTPUT | MODE7 */
				0x60 0x17	/* gpmc_a8.gpio1_24, OUTPUT_PULLUP | MODE7 */
			>;
		};
		i2c0_pins: pinmux_i2c0_pins {
			pinctrl-single,pins = <
				0x188 0x70 	/* i2c0_sda, SLEWCTRL_SLOW | INPUT_PULLUP | MODE0 */
				0x18c 0x70	/* i2c0_scl, SLEWCTRL_SLOW | INPUT_PULLUP | MODE0 */
			>;
		};
		// i2c2_pins: pinmux_i2c2_pins {
		//	pinctrl-single,pins = <
		//		0x178 0x73 	/* uart1_ctsn.i2c2_sda, SLEWCTRL_SLOW | INPUT_PULLUP | MODE3 */
		//		0x17c 0x73	/* uart1_rtsn.i2c2_scl, SLEWCTRL_SLOW | INPUT_PULLUP | MODE3 */
		//	>;
		// };
	};

	ocp: ocp {
		uart1: serial@44e09000 {
			status = "okay";
		};

		gpio-leds {
			compatible = "gpio-leds";
			pinctrl-names = "default";
			pinctrl-0 = <&userled_pins>;

			led0 {
				label = "beaglebone:green:usr0";
				gpios = <&gpio2 21 0>;
				linux,default-trigger = "heartbeat";
				default-state = "off";
			};

			led1 {
				label = "beaglebone:green:usr1";
				gpios = <&gpio2 22 0>;
				linux,default-trigger = "mmc0";
				default-state = "off";
			};

			led2 {
				label = "beaglebone:green:usr2";
				gpios = <&gpio2 23 0>;
				linux,default-trigger = "cpu0";
				default-state = "off";
			};

			led3 {
				label = "beaglebone:green:usr3";
				gpios = <&gpio2 24 0>;
				default-state = "off";
				linux,default-trigger = "mmc1";
			};
		};

		rtc@44e3e000 {
			ti,system-power-controller;
		};
	};

	bone_capemgr {
		compatible = "ti,bone-capemgr";
		status = "okay";

		eeprom = <&baseboard_eeprom>;

		baseboardmaps {
			baseboard_beaglebone: board@0 {
				board-name = "A335BONE";
				compatible-name = "ti,beaglebone";
			};

			baseboard_beaglebone_black: board@1 {
				board-name = "A335BNLT";
				compatible-name = "ti,beaglebone-black";
			};
		};

		slots {
			// slot@0 {
			//	eeprom = <&cape_eeprom0>;
			// };
			//
			// slot@1 {
			//	eeprom = <&cape_eeprom1>;
			// };
			//
			// slot@2 {
			//	eeprom = <&cape_eeprom2>;
			// };
			//
			// slot@3 {
			//	eeprom = <&cape_eeprom3>;
			// };

			/* Beaglebone black has it soldered on */
			 slot@4 {
				ti,cape-override;
				compatible = "ti,beaglebone-black";
				board-name = "Bone-LT-eMMC-2G";
				version = "00A0";
				manufacturer = "Texas Instruments";
				part-number = "BB-BONE-EMMC-2G";
			 };

			/* geiger cape version A0 without an EEPROM */
			slot@5 {
				ti,cape-override;
				compatible = "kernel-command-line", "runtime";
				board-name = "Bone-Geiger";
				version = "00A0";
				manufacturer = "Geiger Inc.";
				part-number = "BB-BONE-GEIGER";
			};

			/* Beaglebone black has it soldered on */
			slot@6 {
				ti,cape-override;
				compatible = "ti,beaglebone-black";
				board-name = "Bone-Black-HDMI";
				version = "00A0";
				manufacturer = "Texas Instruments";
				part-number = "BB-BONELT-HDMI";
			};

			/* Nixie cape version A0 without an EEPROM */
			slot@7 {
				ti,cape-override;
				compatible = "kernel-command-line", "runtime";
				board-name = "Bone-Nixie";
				version = "00A0";
				manufacturer = "Ranostay Industries";
				part-number = "BB-BONE-NIXIE";
			};

			/* adafruit 1.8" TFT prototype cape */
			slot@8 {
				ti,cape-override;
				compatible = "kernel-command-line", "runtime";
				board-name = "Bone-TFT";
				version = "00A0";
				manufacturer = "Adafruit";
				part-number = "BB-BONE-TFT-01";
			};

			/* adafruit RTC DS1307 prototype cape */
			slot@9 {
				ti,cape-override;
				compatible = "kernel-command-line", "runtime";
				board-name = "Bone-RTC";
				version = "00A0";
				manufacturer = "Adafruit";
				part-number = "BB-BONE-RTC-01";
			};

			slot@10 {
				ti,cape-override;
				compatible = "kernel-command-line", "runtime";
				board-name = "Bone-Hexy";
				version = "00A0";
				manufacturer = "Koen Kooi";
				part-number = "BB-BONE-HEXY-01";
			};
			/* MRF24J40 Cape Override */
			slot@11 {
				ti,cape-override;
				compatible = "kernel-command-line", "runtime";
				board-name = "Bone-MRF24J40";
				version = "00A0";
				manufacturer = "Signal 11 Software";
				part-number = "BB-BONE-MRF24J40";
			};
		};

		/* mapping between board names and dtb objects */
		capemaps {
			/* DVI cape */
			cape@0 {
				/* board-name = "BeagleBone DVI-D CAPE"; */
				part-number = "BB-BONE-DVID-01";
				version@00A0 {
					version = "00A0";
					dtbo = "cape-bone-dvi-00A0.dtbo";
				};
				version@00A1 {
					version = "00A1", "01";
					dtbo = "cape-bone-dvi-00A1.dtbo";
				};
				version@00A2 {
					version = "00A2", "A2";
					dtbo = "cape-bone-dvi-00A2.dtbo";
				};
				version@00A3 {
					version = "00A3";
					dtbo = "cape-bone-dvi-00A2.dtbo";
				};
			};

			/* tester */
			cape@100 {
				part-number = "BB-BONE-TESTER";
				version@00A0 {
					version = "00A0";
					dtbo = "cape-bone-tester-00A0.dtbo";
				};
			};

			/* beaglebone black emmc on board */
			cape@1 {
				/* board-name = "BeagleBone 2G eMMC1 CAPE"; */
				part-number = "BB-BONE-EMMC-2G";
				version@00A0 {
					version = "00A0";
					dtbo = "cape-bone-2g-emmc1.dtbo";
				};
			};

			/* geiger cape */
			cape@2 {
				part-number = "BB-BONE-GEIGER";
				version@00A0 {
					version = "00A0";
					dtbo = "cape-bone-geiger-00A0.dtbo";
				};
			};

			/* LCD3 cape */
			cape@3 {
				part-number = "BB-BONE-LCD3-01";
				version@00A0 {
					version = "00A0";
					dtbo = "cape-bone-lcd3-00A0.dtbo";
				};
				version@00A2 {
					version = "00A2";
					dtbo = "cape-bone-lcd3-00A2.dtbo";
				};
			};

			/* Weather cape */
			cape@4 {
				part-number = "BB-BONE-WTHR-01";
				version@00A0 {
					version = "00A0";
					dtbo = "cape-bone-weather-00A0.dtbo";
				};
			};

			/* beaglebone black hdmi on board */
			cape@5 {
				part-number = "BB-BONELT-HDMI";
				version@00A0 {
					version = "00A0";
					dtbo = "cape-boneblack-hdmi-00A0.dtbo";
				};
			};

			/* nixie cape */
			cape@6 {
				part-number = "BB-BONE-NIXIE";
				version@00A0 {
					version = "00A0";
					dtbo = "cape-bone-nixie-00A0.dtbo";
				};
			};
			cape@7 {
				part-number = "BB-BONE-TFT-01";
				version@00A0 {
					version = "00A0";
					dtbo = "cape-bone-adafruit-lcd-00A0.dtbo";
				};
			};

			cape@8 {
				part-number = "BB-BONE-RTC-01";
				version@00A0 {
					version = "00A0";
					dtbo = "cape-bone-adafruit-rtc-00A0.dtbo";
				};
			};

			cape@9 {
				part-number = "BB-BONE-HEXY-01";
				version@00A0 {
					version = "00A0";
					dtbo = "cape-bone-hexy-00A0.dtbo";
				};
			};
			/* mrf24j40 cape */
			cape@10 {
				part-number = "BB-BONE-MRF24J40";
				version@00A0 {
					version = "00A0";
					dtbo = "cape-bone-mrf24j40-00A0.dtbo";
				};
			};
			/* expansion test */
			cape@11 {
				part-number = "BB-BONE-EXPTEST";
				version@00A0 {
					version = "00A0";
					dtbo = "cape-bone-exptest-00A0.dtbo";
				};
			};
		};
	};

	vmmcsd_fixed: fixedregulator@0 {
		compatible = "regulator-fixed";
		regulator-name = "vmmcsd_fixed";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

};

&i2c0 {
	status = "okay";
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_pins>;

	tps: tps@24 {
		reg = <0x24>;
	};

	baseboard_eeprom: baseboard_eeprom@50 {
		compatible = "at,24c256";
		reg = <0x50>;
	};
};

// &i2c2 {
//	status = "okay";
//	pinctrl-names = "default";
//	pinctrl-0 = <&i2c2_pins>;
//
//	clock-frequency = <100000>;
//
//	cape_eeprom0: cape_eeprom0@54 {
//		compatible = "at,24c256";
//		reg = <0x54>;
//	};
//
//	cape_eeprom1: cape_eeprom1@55 {
//		compatible = "at,24c256";
//		reg = <0x55>;
//	};
//
//	cape_eeprom2: cape_eeprom2@56 {
//		compatible = "at,24c256";
//		reg = <0x56>;
//	};
//
//	cape_eeprom3: cape_eeprom3@57 {
//		compatible = "at,24c256";
//		reg = <0x57>;
//	};
// };

/include/ "tps65217.dtsi"

&tps {
	ti,pmic-shutdown-controller;

	regulators {
		dcdc1_reg: regulator@0 {
			regulator-always-on;
		};

		dcdc2_reg: regulator@1 {
			/* VDD_MPU voltage limits 0.95V - 1.26V with +/-4% tolerance */
			regulator-name = "vdd_mpu";
			regulator-min-microvolt = <925000>;
			regulator-max-microvolt = <1325000>;
			regulator-boot-on;
			regulator-always-on;
		};

		dcdc3_reg: regulator@2 {
			/* VDD_CORE voltage limits 0.95V - 1.1V with +/-4% tolerance */
			regulator-name = "vdd_core";
			regulator-min-microvolt = <925000>;
			regulator-max-microvolt = <1150000>;
			regulator-boot-on;
			regulator-always-on;
		};

		ldo1_reg: regulator@3 {
			regulator-always-on;
		};

		ldo2_reg: regulator@4 {
			regulator-always-on;
		};

		ldo3_reg: regulator@5 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};

		ldo4_reg: regulator@6 {
			regulator-always-on;
		};
	};
};

&cpsw_emac0 {
	phy_id = <&davinci_mdio>, <0>;
};

&cpsw_emac1 {
	phy_id = <&davinci_mdio>, <1>;
};

&mmc1 {
	status = "okay";
	vmmc-supply = <&ldo3_reg>;
	ti,vcc-aux-disable-is-sleep;
};

&edma {
	ti,edma-xbar-event-map = <32 12>;
};

&sham {
	status = "okay";
};

&aes {
	status = "okay";
};

&usb_otg_hs {
	interface_type = <1>;
	power = <250>;
	status = "okay";
};
