/*
 * Copyright (C) 2017 Texas Instruments Incorporated - http://www.ti.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/dts-v1/;

#include "dra72x.dtsi"
#include "dra72x-mmc-iodelay.dtsi"
#include "dra7-ipu-dsp-common.dtsi"
#include <dt-bindings/net/ti-dp83867.h>
#include <dt-bindings/gpio/gpio.h>

/ {
	compatible = "ti,dra718-lcard", "ti,dra718", "ti,dra722", "ti,dra72", "ti,dra7";
	model = "TI DRA718 LCARD";
	chosen {
		stdout-path = &uart3;
	};

	aliases {
		display0 = &hdmi0;
		sound1 = &hdmi;
	};

	memory {
		device_type = "memory";
		reg = <0x0 0x80000000 0x0 0x80000000>; /* 2GB */
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		ipu2_memory_region: ipu2-memory@95800000 {
			compatible = "shared-dma-pool";
			reg = <0x0 0x95800000 0x0 0x3800000>;
			reusable;
			status = "okay";
		};

		dsp1_memory_region: dsp1-memory@99000000 {
			compatible = "shared-dma-pool";
			reg = <0x0 0x99000000 0x0 0x4000000>;
			reusable;
			status = "okay";
		};

		ipu1_memory_region: ipu1-memory@9d000000 {
			compatible = "shared-dma-pool";
			reg = <0x0 0x9d000000 0x0 0x2000000>;
			reusable;
			status = "okay";
		};
	};

	evm_3v3: fixedregulator-evm_3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vio_3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		regulator-boot-on;
	};

	vsys_3v3: fixedregulator-vsys_3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vsys_3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		regulator-boot-on;
	};

	evm_5v0: fixedregulator-5v0 {
		compatible = "regulator-fixed";
		regulator-name = "evm_5v0";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
		regulator-boot-on;
	};

	evm_3v3_sd: fixedregulator-sd {
		compatible = "regulator-fixed";
		regulator-name = "evm_3v3_sd";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&evm_3v3>;
		enable-active-high;
		gpio = <&gpio6 16 GPIO_ACTIVE_HIGH>;
	};

	evm_3v3_wlan: fixedregulator-wlan {
		compatible = "regulator-fixed";
		regulator-name = "evm_3v3_wlan";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&evm_3v3>;
		enable-active-high;
		regulator-always-on;
		gpio = <&gpio1 25 GPIO_ACTIVE_HIGH>;
	};

	hdmi0: connector {
		compatible = "hdmi-connector";
		label = "hdmi";

		type = "a";

		port {
			hdmi_connector_in: endpoint {
				remote-endpoint = <&tpd12s015_out>;
			};
		};
	};

	tpd12s015: encoder {
		compatible = "ti,tpd12s015";

		gpios = <0>, /* CT_CP_HPD is hardwired to high*/
			<0>, /* LS_OE  is hardwired to high*/
			<&gpio7 26 GPIO_ACTIVE_HIGH>;   /* HPD */

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;

				tpd12s015_in: endpoint {
					remote-endpoint = <&hdmi_out>;
				};
			};

			port@1 {
				reg = <1>;

				tpd12s015_out: endpoint {
					remote-endpoint = <&hdmi_connector_in>;
				};
			};
		};
	};

	extcon_usb1: extcon_usb1 {
		compatible = "linux,extcon-usb-gpio";
		vbus-gpio = <&gpio2 8 GPIO_ACTIVE_HIGH>;
	};

	extcon_usb2: extcon_usb2 {
		compatible = "linux,extcon-usb-gpio";
		vbus-gpio = <&gpio2 7 GPIO_ACTIVE_HIGH>;
	};
};

&i2c1 {
	status = "okay";

	tps65919: tps65919@58 {
		reg = <0x58>;
		compatible = "ti,tps65917";
		interrupt-controller;
		interrupt-cells = <2>;

		ti,system-power-controller;

		tps65919_pmic {
			compatible = "ti,tps65917-pmic";

			smps1-in-supply = <&vsys_3v3>;
			smps2-in-supply = <&vsys_3v3>;
			smps3-in-supply = <&vsys_3v3>;
			smps4-in-supply = <&vsys_3v3>;
			ldo1-in-supply = <&vsys_3v3>;
			ldo2-in-supply = <&vsys_3v3>;
			ldo4-in-supply = <&evm_5v0>;
			ldo5-in-supply = <&vsys_3v3>;

			tps65917_regulators: regulators {
				smps1_reg: smps1 {
					/* VDD_CORE */
					regulator-name = "smps1";
					regulator-min-microvolt = <850000>;
					regulator-max-microvolt = <1250000>;
					regulator-always-on;
					regulator-boot-on;
				};

				smps2_reg: smps2 {
					/* VDD_DDR */
					regulator-name = "smps2";
					regulator-min-microvolt = <850000>;
					regulator-max-microvolt = <1150000>;
					regulator-boot-on;
					regulator-always-on;
				};

				smps3_reg: smps3 {
					/* VDD_DSP */
					regulator-name = "smps3";
					regulator-min-microvolt = <850000>;
					regulator-max-microvolt = <1250000>;
					regulator-boot-on;
					regulator-always-on;
				};

				smps4_reg: smps4 {
					/* VDDS1V8 */
					regulator-name = "smps4";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
					regulator-boot-on;
				};
				ldo1_reg: ldo1 {
					/* LDO1_OUT --> SDIO  */
					regulator-name = "ldo1";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <3300000>;
					regulator-always-on;
					regulator-allow-bypass;

				};

				ldo2_reg: ldo2 {
					regulator-name = "ldo2";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					regulator-allow-bypass;
					regulator-always-on;
					regulator-boot-on;
				};

				ldo5_reg: ldo5 {
					/* VDDA_1V8_PLL */
					regulator-name = "ldo5";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
					regulator-boot-on;
				};

				ldo4_reg: ldo4 {
					/* VDDA_3V_USB: VDDA_USBHS33 */
					regulator-name = "ldo4";
					regulator-min-microvolt = <3300000>;
					regulator-max-microvolt = <3300000>;
					regulator-always-on;
					regulator-boot-on;
				};
			};
		};
	};
};

&dra7_pmx_core {

	dcan1_pins_default: dcan1_pins_default {
		pinctrl-single,pins = <
			DRA7XX_CORE_IOPAD(0x37d0, PIN_OUTPUT_PULLUP | MUX_MODE0) /* dcan1_tx */
			DRA7XX_CORE_IOPAD(0x37d4, PIN_INPUT | MUX_MODE0)  /* dcan1_rx */
		>;
	};
	dcan1_pins_sleep: dcan1_pins_sleep {
		pinctrl-single,pins = <
			DRA7XX_CORE_IOPAD(0x37d0, MUX_MODE15 | PULL_UP)	/* dcan1_tx.off */
			DRA7XX_CORE_IOPAD(0x37d4, MUX_MODE15 | PULL_UP)	/* dcan1_rx.off */
		>;
	};

};

&gpio5 {
	status = "okay";

	p26 {
		/* H_MMC1_SELn : select between MMC1 and Wireless
		 * Low : MMC1 is selected
		 * HIGH: Wireless is selected
		 */

		gpio-hog;
		gpios = <26 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "H_MMC1_SELn";
	};
};

&mmc1 {
	vmmc-supply = <&evm_3v3_wlan>;
	vmmc_aux-supply = <&ldo1_reg>;
	status = "okay";
	pinctrl-names = "default", "hs";
	pinctrl-0 = <&mmc1_pins_default>;
	pinctrl-1 = <&mmc1_pins_hs>;
	cap-power-off-card;
	keep-power-in-suspend;
	ti,non-removable;

	/delete-property/ sd-uhs-sdr104;
	/delete-property/ sd-uhs-sdr50;
	/delete-property/ sd-uhs-ddr50;
	/delete-property/ sd-uhs-sdr25;
	/delete-property/ sd-uhs-sdr12;

	#address-cells = <1>;
	#size-cells = <0>;
	wlcore: wlcore2 {
		status = "okay";
		compatible = "ti,wl1835";
		reg = <2>;
		interrupt-parent = <&gpio6>;
		interrupts = <29 IRQ_TYPE_LEVEL_HIGH>;
	};
};

&mmc2 {
	vmmc-supply = <&smps4_reg>;
	status = "okay";
	pinctrl-names = "default", "hs", "ddr_1_8v", "hs200_1_8v";
	pinctrl-0 = <&mmc2_pins_default>;
	pinctrl-1 = <&mmc2_pins_hs>;
	pinctrl-2 = <&mmc2_pins_ddr_rev20 &mmc2_iodelay_ddr_conf>;
	pinctrl-3 = <&mmc2_pins_hs200 &mmc2_iodelay_hs200_rev20_conf>;
	ti,non-removable;
	bus-width = <8>;

	/delete-property/ sd-uhs-sdr25;
	/delete-property/ sd-uhs-sdr12;
};

&uart3 {
	status = "okay";
	interrupts-extended = <&crossbar_mpu GIC_SPI 69 IRQ_TYPE_LEVEL_HIGH>,
			      <&dra7_pmx_core 0x3f8>;
};

&rtc {
	status = "disabled";
};

&dcan1 {
	status = "okay";
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&dcan1_pins_default>;
	pinctrl-1 = <&dcan1_pins_sleep>;
};

&omap_dwc3_1 {
	extcon = <&extcon_usb1>;
};

&omap_dwc3_2 {
	extcon = <&extcon_usb2>;
};

&usb2_phy1 {
	phy-supply = <&ldo2_reg>;
};

&usb2_phy2 {
	phy-supply = <&ldo4_reg>;
};

&usb1 {
	extcon = <&extcon_usb1>;
	status= "okay";
	dr_mode = "host";
};

&usb2 {
	extcon = <&extcon_usb2>;
	status = "okay";
	dr_mode = "host";
};

&dss {
	status = "ok";
	vdda_video-supply = <&ldo5_reg>;
};

&hdmi {
	status = "ok";
	vdda_video-supply = <&ldo2_reg>;

	port {
		hdmi_out: endpoint {
			remote-endpoint = <&tpd12s015_in>;
		};
	};
};

&ipu2 {
	status = "okay";
	memory-region = <&ipu2_memory_region>;
};

&ipu1 {
	status = "okay";
	memory-region = <&ipu1_memory_region>;
};

&dsp1 {
	status = "okay";
	memory-region = <&dsp1_memory_region>;
};
