config ARCH_HAS_RESET_CONTROLLER
	bool

menuconfig RESET_CONTROLLER
	bool "Reset Controller Support"
	default y if ARCH_HAS_RESET_CONTROLLER
	help
	  Generic Reset Controller support.

	  This framework is designed to abstract reset handling of devices
	  via GPIOs or SoC-internal reset controller modules.

	  If unsure, say no.

config TI_SCI_RESET
	tristate "TI System Control Interface (TI-SCI) reset driver"
	depends on RESET_CONTROLLER
	depends on TI_SCI_PROTOCOL
	help
	  This enables the reset driver support over TI System Control Interface
	  for TI's Keystone family of SoCs. If you wish to use reset resources
	  managed by the TI System Controller, say Y here. Otherwise, say N.

source "drivers/reset/sti/Kconfig"
