##################################################
# TI RPMsg/IPC Config Options
##################################################
# HwSpinLock
CONFIG_HWSPINLOCK=y
CONFIG_HWSPINLOCK_OMAP=y

# Mailbox
CONFIG_MAILBOX=y
CONFIG_OMAP2PLUS_MBOX=y

# SoC Drivers
CONFIG_TI_PRUSS=m

# Remoteproc
CONFIG_REMOTEPROC=m
CONFIG_PRU_REMOTEPROC=m
CONFIG_TI_K3_R5_REMOTEPROC=m
CONFIG_TI_K3_DSP_REMOTEPROC=m

# RPMsg
CONFIG_RPMSG_VIRTIO=m
CONFIG_RPMSG_PROTO=m
CONFIG_RPMSG_PRU=m

# RPMsg Samples
CONFIG_SAMPLES=y
CONFIG_SAMPLE_RPMSG_CLIENT=m
