/*
 * Copyright (C) 2012 Texas Instruments Incorporated - http://www.ti.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/dts-v1/;
/plugin/;

/ {
	compatible = "ti,beaglebone", "ti,beaglebone-black";

	/* identification */
	part-number = "BB-BONE-LCD3-01";
	version = "00A0";

	/* state the resources this cape uses */
	exclusive-use =
		/* the pin header uses */
		"P8.45",	/* lcd: lcd_data0 */
		"P8.46",	/* lcd: lcd_data1 */
		"P8.43",	/* lcd: lcd_data2 */
		"P8.44",	/* lcd: lcd_data3 */
		"P8.41",	/* lcd: lcd_data4 */
		"P8.42",	/* lcd: lcd_data5 */
		"P8.39",	/* lcd: lcd_data6 */
		"P8.40",	/* lcd: lcd_data7 */
		"P8.37",	/* lcd: lcd_data8 */
		"P8.38",	/* lcd: lcd_data9 */
		"P8.36",	/* lcd: lcd_data10 */
		"P8.34",	/* lcd: lcd_data11 */
		"P8.35",	/* lcd: lcd_data12 */
		"P8.33",	/* lcd: lcd_data13 */
		"P8.31",	/* lcd: lcd_data14 */
		"P8.32",	/* lcd: lcd_data15 */
		"P8.27",	/* lcd: lcd_vsync */
		"P8.29",	/* lcd: lcd_hsync */
		"P8.28",	/* lcd: lcd_pclk */
		"P8.30",	/* lcd: lcd_ac_bias_en */
		"P9.14",	/* led: gpio1_18 */
		"P9.16",	/* led: gpio1_19 */
		"P9.15",	/* keys: gpio1_16 */
		"P9.23",	/* keys: gpio1_17 */
		"P9.27",	/* keys: gpio3_19 */
		"P9.12",	/* keys: gpio1_28 */
		"P9.42",	/* keys: gpio0_7 */
		/* the hardware IP uses */
		"gpio1_18",
		"gpio1_19",
		"gpio1_16",
		"gpio1_17",
		"gpio3_19",
		"gpio0_7",
		"lcd",
		"tps-bl",
		"tscadc";

	fragment@0 {
		target = <&am33xx_pinmux>;
		__overlay__ {

			bone_lcd3_cape_led_00A0_pins: pinmux_bone_lcd3_cape_led_00A0_pins {
				pinctrl-single,pins = <
					0x48 0x07	/* gpmc_a2.gpio1_18, OUTPUT | MODE7 */
					0x4c 0x07	/* gpmc_a3.gpio1_19, OUTPUT | MODE7 */
				>;
			};

			bone_lcd3_cape_lcd_pins: pinmux_bone_lcd3_cape_lcd_pins {
				pinctrl-single,pins = <
					0xa0 0x08	/* lcd_data0.lcd_data0, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
					0xa4 0x08	/* lcd_data1.lcd_data1, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
					0xa8 0x08	/* lcd_data2.lcd_data2, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
					0xac 0x08	/* lcd_data3.lcd_data3, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
					0xb0 0x08	/* lcd_data4.lcd_data4, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
					0xb4 0x08	/* lcd_data5.lcd_data5, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
					0xb8 0x08	/* lcd_data6.lcd_data6, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
					0xbc 0x08	/* lcd_data7.lcd_data7, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
					0xc0 0x08	/* lcd_data8.lcd_data8, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
					0xc4 0x08	/* lcd_data9.lcd_data9, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
					0xc8 0x08	/* lcd_data10.lcd_data10, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
					0xcc 0x08	/* lcd_data11.lcd_data11, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
					0xd0 0x08	/* lcd_data12.lcd_data12, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
					0xd4 0x08	/* lcd_data13.lcd_data13, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
					0xd8 0x08	/* lcd_data14.lcd_data14, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
					0xdc 0x08	/* lcd_data15.lcd_data15, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
					0xe0 0x00	/* lcd_vsync.lcd_vsync, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT */
					0xe4 0x00	/* lcd_hsync.lcd_hsync, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT */
					0xe8 0x00	/* lcd_pclk.lcd_pclk, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT */
					// 0xec 0x00	/* lcd_ac_bias_en.lcd_ac_bias_en, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT */
					0xec 0x07	/* lcd_ac_bias_en.gpio2_25 OMAP_MUX_MODE7 | AM33XX_PIN_OUTPUT */
				>;
			};

			bone_lcd3_cape_keys_00A0_pins: pinmux_bone_lcd3_cape_keys_00A0_pins {
				pinctrl-single,pins = <
					0x040 0x2f	/* gpmc_a0.gpio1_16, INPUT | PULLDIS | MODE7 */
					0x044 0x2f	/* gpmc_a1.gpio1_17, INPUT | PULLDIS | MODE7 */
					0x1a4 0x2f	/* mcasp0_fsr.gpio3_19, INPUT | PULLDIS | MODE7 */
					0x078 0x2f	/* gpmc_ben1.gpio1_28, INPUT | PULLDIS | MODE7 */
					0x164 0x2f	/* ecap0_in_pwm0_out.gpio0_7, INPUT | PULLDIS | MODE7 */
				>;
			};

		};
	};

	fragment@1 {
		target = <&tps>;
		__overlay__ {
			backlight {
				compatible = "tps65217-backlight";
				isel = <1>;
				fdim = <200>;
				brightness = <100>;
				tps = <&tps>;
			};
		};
	};

	fragment@2 {
		target = <&ocp>;

		__overlay__ {

			/* avoid stupid warning */
			#address-cells = <1>;
			#size-cells = <1>;

			tscadc {
				compatible = "ti,ti-tscadc";
				reg = <0x44e0d000 0x1000>;

				interrupt-parent = <&intc>;
				interrupts = <16>;
				ti,hwmods = "adc_tsc";
				status = "okay";

				tsc {
					ti,wires = <4>;
					ti,x-plate-resistance = <200>;
					ti,coordinate-readouts = <5>;
					ti,wire-config = <0x00 0x11 0x22 0x33>;
				};

				adc {
					ti,adc-channels = <4 5 6 7>;
				};
			};

			gpio-leds-cape-lcd3 {
				compatible = "gpio-leds";
				pinctrl-names = "default";

				pinctrl-0 = <&bone_lcd3_cape_led_00A0_pins>;

				lcd3-led0 {
					label = "lcd3:green:usr0";
					gpios = <&gpio2 18 0>;
					linux,default-trigger = "heartbeat";
					default-state = "off";
				};

				lcd3-led1 {
					label = "lcd3:green:usr1";
					gpios = <&gpio2 19 0>;
					linux,default-trigger = "cpu0";
					default-state = "off";
				};
			};

			gpio_keys {
				compatible = "gpio-keys";
				pinctrl-names = "default";
				pinctrl-0 = <&bone_lcd3_cape_keys_00A0_pins>;

				#address-cells = <1>;
				#size-cells = <0>;

				button@1 {
					debounce_interval = <50>;
					linux,code = <105>;
					label = "left";
					gpios = <&gpio2 16 0x1>;
					gpio-key,wakeup;
					autorepeat;
				};
				button@2 {
					debounce_interval = <50>;
					linux,code = <106>;
					label = "right";
					gpios = <&gpio2 17 0x1>;
					gpio-key,wakeup;
					autorepeat;
				};
				button@3 {
					debounce_interval = <50>;
					linux,code = <103>;
					label = "up";
					gpios = <&gpio4 19 0x1>;
					gpio-key,wakeup;
					autorepeat;
				};
				button@4 {
					debounce_interval = <50>;
					linux,code = <108>;
					label = "down";
					gpios = <&gpio2 28 0x1>;
					gpio-key,wakeup;
					autorepeat;
				};
				button@5 {
					debounce_interval = <50>;
					linux,code = <28>;
					label = "enter";
					gpios = <&gpio1 7 0x1>;
					gpio-key,wakeup;
				};
			};

			/* Settings for CDTech_S035Q01 / LCD3 cape: */
			panel {
				compatible = "tilcdc,panel";
				pinctrl-names = "default";
				pinctrl-0 = <&bone_lcd3_cape_lcd_pins>;
				panel-info {
					ac-bias           = <255>;
					ac-bias-intrpt    = <0>;
					dma-burst-sz      = <16>;
					bpp               = <16>;
					fdd               = <0x80>;
					tft-alt-mode      = <0>;
					stn-565-mode      = <0>;
					mono-8bit-mode    = <0>;
					sync-edge         = <0>;
					sync-ctrl         = <1>;
					raster-order      = <0>;
					fifo-th           = <0>;
					invert-pxl-clk;
				};
				display-timings {
					native-mode = <&timing0>;
					timing0: 320x240 {
						hactive         = <320>;
						vactive         = <240>;
						hback-porch     = <22>;
						hfront-porch    = <59>;
						hsync-len       = <48>;
						vback-porch     = <12>;
						vfront-porch    = <23>;
						vsync-len       = <2>;
						clock-frequency = <8000000>;
						hsync-active    = <0>;
						vsync-active    = <0>;
					};
				};
			};

			fb {
				compatible = "ti,am33xx-tilcdc";
				reg = <0x4830e000 0x1000>;
				interrupt-parent = <&intc>;
				interrupts = <36>;
				ti,hwmods = "lcdc";
				ti,power-gpio = <&gpio3 25 0>;
			};

		};
	};
};
